
<div class="jumbotron jumbotron-fluid text-center paral para01" >
    <div class="container">
        <h1><span class="display-4 text-white bg-site-dark p-3">Big Cannon Project</span></h1>
        <div class="d-flex justify-content-center pt-3">
            <div class="">
                <a href="#about" class="btn btn-primary align-middle">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid text-center bg-white">
     <div class="container">
        <h3 >Gun Database</h3>
        <p class="bold">The database allows individual recorders to upload their gun records, to improve them over time and to view all the other guns that have been recorded around the world. The project database is linked to a world map so that gun records can be viewed in geographical context.</p>
        <a href="/database" class="btn btn-primary align-middle">Explore the Guns</a>

      </div>
</div>

<div class="jumbotron jumbotron-fluid text-center paral para02">
     <div class="container">
                <h3 class="text-white" style="text-shadow: #444 0 1px 1px;">Recording</h3>
                <span class="img-back bg-dark d-block"><p class="img-text bold" style="text-shadow: #444 0 1px 1px;">Our recording system allows you to record as little or as much data as you like. For Bronze level records, Observers only need to upload a picture and a location. Recorders can create Silver level records by identifying key physical features of the gun. At the Surveyor level, you can provide full dimensions to achieve Gold and be a Surveyor.
                  Our world map of guns allows you to see where guns are and how much information about each one has been documented.</p></span>
                <a class="btn btn-small btn-primary" role="button" href="/recording"> How to Record Guns</a>
        </div>
</div>


<div class="jumbotron jumbotron-fluid text-center bg-white" id="about">
     <div class="container">
        <div id="picture-carousel" class="container pictures d-none d-md-flex">
        </div>
        <h1>About the Project</h1>
        <p>
            The Ultima Ratio Project aims to develop a centralised database of historical muzzle-loading artillery guns.
        </p><p>
            Launched in June 2018, the Project seeks to engage with scholars, curators, arms specialists, historical preservation organisations, individual researchers, and other key stakeholders in recording the history of important muzzle-loading ‘big guns’, and making such data publicly available.
        </p><p>
            In addition to the ongoing database development, the Project produces short articles highlighting interesting or noteworthy historical  guns.
        </p><p>
            The name of the project is derived from the Latin phrase ‘Ultima Ratio Regum’, often translated as ‘the final argument of kings’. This phrase adorned some French cannon, initially by order of Louis XIV (1638–1715), but has come to be synonymous with artillery more generally.
        </p><p>
            The Ultima Ratio Project is administered by Armament Research Services (ARES), a specialist intelligence consultancy. ARES also provides financial assistance to the Project.
        </p>
    </div><!-- end box -->
</div>

<div class="d-flex flex-row justify-content-around pt-3">
    <a href="/privacy" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a class="btn btn-sm btn-light" role="button " href="/tor">Terms and Conditions of Access </a>
</div>

<div class="row pt-3">
    <div class="col-sm">
        <a href="http://armamentresearch.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/Ares_Logo-3.png" height="50px"> </a>
    </div><div class="col-sm">
        <a class="thin" href="https://www.nauticalarchaeologysociety.org/" target="_blank"><img class="rounded mx-auto d-block" src="/img/NAS-Square-Logo-Dark-Blue.png" height="70px" alt="" /></a>
    </div><div class="col-sm">
        <a class="thin" href="http://www.basiliscoe.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/basiliscoe.png" height="70px" alt="" /></a>
    </div>

    <div class="col-sm">
        <a class="thin" href="http://www.cismas.org.uk/" target="_blank"><img class="rounded mx-auto d-block" src="/img/cismas.png" height="50px" alt="" /></a>
    </div>
    <div class="col-sm">
        <a class="thin" href="https://msdsmarine.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/MSDS-768.png" height="50px" alt="" /></a>
    </div>
    <div class="col-sm">
        <a class="thin" href="https://runette.co.uk" target="_blank"><img class="rounded mx-auto d-block" src="/img/runette_long.png" height="30px" alt="" /></a>
    </div>
</div>

