@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {

    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
  
    $primary: mat.get-color-from-palette($primary-palette, 700);
    $accent: mat.get-color-from-palette($accent-palette, 700);


.paral {
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    }
    
.para01 {
    background-image: url("/assets/gun-map-768.jpg");
    }
    
.para02 {
    background-image: url("/assets/cannon_measuring.jpg");
    }
    
.jumbotron {
    margin-bottom: 0;
    }

.btn-primary {
    background-color: $primary;
    box-shadow: 0 6px 10px 0 #666;
    border-color: $primary;
    color: $accent;
    text-align: center;
    transition: all 0.1s ease-in-out;
    }
    
.btn-secondary {
box-shadow: 0 6px 10px 0 #666;
transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
background-color: $primary;
color: $accent;
border-color: $primary;
box-shadow: 0 6px 14px 0 #666;
transform: scale(1.05);
}

.img-back {
    opacity: 0.8;
    background-color: var(--site);
    }
      
.img-text {
color: white;
opacity:1.0 !important;
}
}