@use '@angular/material' as mat;
@use '../src/app/bcp-home/bcp-home.component.scss' as home;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

@include mat.core();
@import 'site_palette.scss';



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bcp-app-primary: mat.define-palette($site, 50, 50, 50);
$bcp-app-accent:  mat.define-palette($site, 700, 900, 500);

// The warn palette is optional (defaults to red).
$bcp-app-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$bcp-app-theme: mat.define-light-theme((
    color:(
        primary:$bcp-app-primary,
        accent: $bcp-app-accent,
        warn: $bcp-app-warn),
    typography: mat.define-typography-config(),
    density: 0,
));

@include mat.all-component-themes($bcp-app-theme);
@include home.color($bcp-app-theme);