
{% extends "header.html" %}

{% block main_content %}

<div class="full-width map full-height">
<div class="full-width center">
<section class="container">
<div class="grid12 col">

<h1>About the Project</h1>
    <p>
The Ultima Ratio Project aims to develop a centralised database of historical muzzle-loading artillery guns.
    </p><p>

Launched in June 2018, the Project seeks to engage with scholars, curators, arms specialists, historical preservation organisations, individual researchers, and other key stakeholders in recording the history of important muzzle-loading ‘big guns’, and making such data publicly available.
</p><p>
In addition to the ongoing database development, the Project produces short articles highlighting interesting or noteworthy historical  guns.
</p><p>
The name of the project is derived from the Latin phrase ‘Ultima Ratio Regum’, often translated as ‘the final argument of kings’. This phrase adorned some French cannon, initially by order of Louis XIV (1638–1715), but has come to be synonymous with artillery more generally.
</p><p>
The Ultima Ratio Project is administered by Armament Research Services (ARES), a specialist intelligence consultancy. ARES also provides financial assistance to the Project.
    </p>
</div><!-- end box -->
</section>
</div>
</div>
<div class="d-flex flex-row justify-content-around pt-3">
    <div class="">
        <a href="http://armamentresearch.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/Ares_Logo-3.png" height="50px"> </a>
    </div><div class="">
        <a class="thin" href="https://www.nauticalarchaeologysociety.org/" target="_blank"><img src="/img/icons/nas.png" height=50px" alt="" /></a>
    </div><div class="">
        <a class="thin" href="" target="_blank"><img src="/img/basiliscoe.png" height=50px" alt="" /></a>
    </div><div class="">
        <a class="thin" href="h" target="_blank"><img src="/img/cismas.png" height=50px" alt="" /></a>
    </div>
</div>

    {% endblock %}