{% extends "header.html" %}
{% block main_content %}
<form action="/set_entry" name="bronze" method="post">
    <input type="hidden" id="id" name="id" value="{{ gun.id }}" read-only >
        <div class="row p-3 mb-3 bg-ur" >
            <div class="media">
                <a class="align-self-center mr-3 fancybox" href="{{gun.images[0]}}"><img src="{% if gun.images[0]|length > 0 %} {{gun.images[0]}}=s70 {% else %} /img/70x70.png {% endif %}" alt=""></a>
            </div>

            <div class="media-body display-1 p-2">
                <h1>Gun ID : {{ gun.id }}
                {% if user_data.user %}
                    <button class="btn btn-primary float-right" type="submit" >Save Entry</button>
                {% else %}
                    Read-only
                {% endif %}
                </h1>
            </div>
        </div>
    <div class="row">
            <div class="col-md-6">
                <table  class="table table-striped">
                    <thead class="thead-dark">
                    <th scope="row">Basic Info</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Material</td>
                        <td> <select class="custom-select" name="type">
                              <option value="CAST" {% if gun.type.number == 0 %} selected {% endif %} >{{gun_types[0]}}</option>
                              <option value="WROUGHT" {% if gun.type.number == 1 %} selected {% endif %}>{{gun_types[1]}}</option>
                              <option value="BRONZE" {% if gun.type.number == 2 %} selected {% endif %}>{{gun_types[2]}}</option>
                              <option value="NOT_KNOWN" {% if gun.type.number == 3 %} selected {% endif %}>{{gun_types[3]}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Short Desc</td>
                        <td><input class="form-control" type="text" name="description" value="{{ gun.description }}" > </td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td><input class="form-control" type="text" name="name" value="{{ gun.name }}" readonly ></td>
                    </tr>
                    <tr>
                        <td>Date Recorded</td>
                        <td class="">{{gun.date.strftime('%d %b %Y')}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="markings" class="custom-control-input update-field" id="markings" {% if gun.markings %} checked {% endif %} onchange="select_button('markings')" >
                                <label class="custom-control-label" for="markings">Markings?</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="interpretation" class="custom-control-input update-field" id="inter" {% if gun.interpretation %} checked {% endif %} onchange="select_button('inter')" >
                                    <label class="custom-control-label" for="inter">Interpretations?</label>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    </tr>
                        <tr class="hidden markings" >
                            <td>
                                Describe the Markings
                            </td>
                            <td>
                                <input class="form-control" type="text" name="mark_details" value="{{gun.mark_details}}">
                            </td>
                        </tr>
                        <tr class="hidden inter" >
                            <td>
                                Describe the Interpretations
                            </td>
                            <td>
                                <input class="form-control" type="text" name="inter_details" value="{{gun.inter_details}}">
                            </td>
                        </tr>
                </table>
            </div><!-- end grid -->
            <div class="col-md-6">
                <table  class="table table-striped">
                    <thead class="thead-dark">
                    <th scope="row">Context Info</th>
                    </thead>
                    <tr>
                        <td>Description of Location</td>
                        <td><input class="form-control" type="text" name="context" value="{{gun.context}}"></td>
                    </tr>
                    <tr>
                        <td>Site Name</td>
                        <td><input class="form-control" type="text" name="site" value="{{gun.site}}"></td>
                    </tr>
                    <tr>
                        <td>Museum / Collection</td>
                        <td>
                            <div class="custom-control custom-switch">
                                    <input type="checkbox" name="collection" class="custom-control-input update-field" id="collection" {% if gun.collection %} checked {% endif %} onchange="select_button('collection')" >
                                    <label class="custom-control-label" for="collection">In a Museum / Collection?</label>
                                </div>
                        </td>
                    </tr>
                    <tr class="hidden collection">
                        <td>Collection Name</td>
                        <td><input class="form-control" type="text" name="coll_name" value="{{gun.coll_name}}"></td>

                    </tr>
                    <tr class="hidden collection">
                        <td>Collection Ref</td>
                        <td><input class="form-control" type="text" name="coll_ref" value="{{gun.coll_ref}}"></td>
                    </tr>
                </tbody></table>
            </div>
    </div>
    <div class="row bg-light pt-3">
            <div class="col-md-6">
                <h3 class="bold">Location</h3>
                <div id="map_canvas" class="map-container inline" > </div>
                <script>
                    window.initMap = function () {
                        map_icons = {
                                'bronze': "/img/cannon_bronze.png",
                                'gold': "/img/cannon_gold.png",
                                'silver': "/img/cannon_silver.png"
                            };

                        let location = {
                            lat: parseFloat($('#lat').val()),
                            lng: parseFloat($('#lon').val())
                        };
                        map = new google.maps.Map(document.getElementById('map_canvas'), {
                            zoom: 12,
                            center: location,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            zoomControl: true,
                            mapTypeControl: false,
                            scaleControl: true,
                            streetViewControl: false,
                            rotateControl: true,
                            fullscreenControl: true
                        });
                        marker = null;
                        reset_map()
                    };
                </script>

                <div class="row">
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="latlon" checked onchange="radio_button('geolocation','latlon')" >
                            <label class="custom-control-label" for="latlon">Lat/Lon</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="bng"  onchange="LL_convert('bronze')" >
                            <label class="custom-control-label" for="bng">Grid Ref</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="locate"  onchange="radio_button('geolocation',  'locate')" >
                            <label class="custom-control-label" for="locate">Device Location</label>
                        </div>
                    </div>
                </div>



                <div class="row latlon">
                    <div class="col-md-3">
                        Latitude
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lat" name="lat" value="{{ gun.location.lat }}" >
                    </div> <div class="col-md-3">
                        Longitude
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lon" name="lon" value="{{ gun.location.lon }}" >
                    </div>
                </div>
                <div class="row latlon">
                    <small class="text-muted mx-auto">All Lat/lon coordinates must be in WGS84</small>
                </div>
                <div class="row bng">
                    <div class="col-2">
                        Easting
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" name="eastings" id="eastings" value="" >
                    </div>
                    <div class="col-2">
                        Northing
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" name="northings" id="northings" value="">
                   </div>
                    <div class="col-2">
                        <button class="btn btn-small btn-primary" type="button" onclick="BNG_convert('bronze')">Map</button>
                    </div>
                </div>
                <div class="row bng">
                    <small class="text-muted mx-auto">Conversion provided by British Geological Survey <a href="https://www.bgs.ac.uk/data/webservices/convertForm.cfm#bngToLatLng">link</a></small>
                </div>
                <div class="row locate">
                    <button class="btn btn-primary mx-auto d-block" type="button" onclick="getLocation()">Current Location</button>
                </div>

            </div>
            <div class="col-md-6">
                <h3 class="bold">Photos  <button class="btn btn-primary float-right" type="button" onclick="send_file()">Upload Photo</button> </h3>

                <a class="max-width:100%" href="{{gun.images[0]}}" data-fancybox="gun_images" data-caption="My caption">
                    <img class=" mx-auto d-block" id="image_container" src="{{gun.images[0]}}=s100" width="300px"   alt="" />
                </a>


            <div class="hidden">
                {% for i in gun.images %}
                    <a href="{{i}}" data-fancybox="gun_images" data-caption="My caption">
                              <img src="{{i}}=s100" alt="" />
                          </a>
                {% endfor %}
            </div>
                 </div>
        </div>

</form>

{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer.js"></script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyBlWzi9DiiSCHjP9cy22yhnWqxyyNWXv6Q&amp;callback=initMap"></script>
<script type="application/javascript" >
                    $('.bng').hide();
                    $('.locate').hide();

</script>
{% endblock %}