
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="_csrf">
<meta name="csrf-token" content="5iiQ79ZII_orKUeWGItkjIgDZLBkxt5GtwRU3YjkBWK-R9GHmywXg15TE_1h4j7m13Qi7wakpCfvaTKzybVVUA==">
<title>Ultima Ratio Project</title>
<link rel="shortcut icon" href="/favicon.ico"/>
<script type="text/javascript">window.BaseUrl = '';</script>
<link href="//fonts.googleapis.com/css?family=Titillium+Web:400,200,700" rel="stylesheet">
<link href="/static/jquery.fancybox.min.css" rel="stylesheet">
<link href="/static/style.css" rel="stylesheet"></head>

<body>

<div id="mobile-nav">
<a href="#" class="close-mobile-nav"></a>
<ul class="accordion">
<li class="active">
<a href="/">Home</a>
</li>
<li class="">
<a href="https://ultimaproject.org/about/">About</a>
</li>
<li class="">
<a href="/database">Gun Database</a>
</li>
<li class="">
<a href="/database/entry">Recording</a>
</li>
<li class="">
<a href="/donate">Donate</a>
</li>
</ul>
</div>
<!-- end mobile nav -->
<!--sys-message-->
<!--end of sys-message-->

<!-- page-wrap -->
<div id="page-wrap">
<!--header-->
<div id="top-bar">
<div class="container">
<div class="users">
<a href="/user/login" class="login">Login</a>
<a href="/user/register" class="account">Register</a>
</div>
</div>
</div>
<div id="head" class="full-width">
<section id="header" class="container">
<span id="switch" class="open-mobile-nav">&#8801;</span>
<a href="/" class="logo"></a>
<div class="users">
<a href="/user/login" class="login">Login</a>
<a href="/user/register" class="account">Register</a>
</div>
<nav id="menu" class="grid12 col">
<ul> <li class="{% if index == 1 %} active {% endif %} ">
<a href="/">Home</a>
</li>
<li class="{% if index == 2 %} active {% endif %}">
<a href="https://ultimaproject.org/about/">About</a>
</li>
<li class="{% if index == 3 %} active {% endif %}">
<a href="/database">Gun Database</a>
</li>
<li class="{% if index == 4 %} active {% endif %}">
<a href="/database/entry">Recording</a>
</li>
<li class="{% if index == 5 %} active {% endif %}">
<a href="/donate">Donate</a>
</li>
</ul>
</nav>
</section>
</div>

<!--end of header-->

{% block main_content %} {% endblock %}

<!--footer-->


<div id="footer" class="full-width">
<section class="container">
<div class="grid3 col">
<h3>Navigate</h3>
<ul>
<li class="active">
<a href="/">Home</a>
</li>
<li class="">
<a href="https://ultimaproject.org/about">About</a>
</li>
<li class="">
<a href="/database">Gun Database</a>
</li>
<li class="">
<a href="/databse/entry">Recording</a>
</li>
<li class="">
<a href="/donate">Donate</a>
</li>
<li class="">
<a href="/terms">Terms / Privacy</a>
</li>
</ul>
</div>
<div class="grid5 col">&nbsp;</div>
<div class="grid4 col">
<h3>About the Ultima Ratio Project</h3>
<p>The Ultima Ratio Project aims to develop a centralised database of historical muzzle-loading artillery guns.

Launched in June 2018, the Project seeks to engage with scholars, curators, arms specialists, historical preservation organisations, individual researchers, and other key stakeholders in recording the history of important muzzle-loading ‘big guns’, and making such data publicly available. You can also follow the project on <a href="https://www.facebook.com/groups/BIGanchors" target="_blank">Facebook</a></p>
<a href="https://www.facebook.com/groups/BIGanchors/about/" class="social fb" target="_blank">Facebook Group</a>
</div>
</section>
</div>

<div id="bottom">
<section class="container">
    <div class="grid3 col"></div>
    <div class="grid9 col"></div>

</section>
</div> <!--end of footer-->
</div>
<!-- end of page-wrap -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"  crossorigin="anonymous"></script>
<script src="/static/yii.js"></script>
<script src="/static/jquery.cycle2.min.js"></script>
<script src="/static/jquery.fancybox.min.js"></script>
<script src="/static/jquery.fadethis.min.js"></script>
<script src="/static/functions.js"></script></body>

{% block script %}{% endblock %}
</html>
