{% extends "header.html" %}

{% block main_content %}

<div class="jumbotron jumbotron-fluid text-center bg-ur" >
    <div class="container">
        <h1 class="display-4">Ultima Ratio Project</h1>
        <p class="lead">The fun way to map the guns of the world</p>
        <hr class="my-4">
        <p>Help us record historic guns and learn about their place in our maritime history</p>
        <a href="/about" class="btn btn-primary">Learn more</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    <div class="card" >
      <img class="card-img-top" src="/img/big-anchor-map.jpg" alt="Card image cap">
      <div class="card-body">
        <h3>Gun Database</h3>
          <p>Over 500 anchors have been added to the project database since its creation in 2008. The database allows individual recorders to upload their anchor records, to improve them over time and to view all the other anchors that have been recorded around the world. The project database is linked to a world map so that anchor records can be viewed in geographical context.</p>
      </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="card" >
            <img class="card-img-top" src="/img/big-anchor-stone2.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Recording</h3>
                <p>Our recording system allows you to record as little or as much as you like. Just add a photograph and a location to achieve a Bronze record, identify features on your anchor for a Silver record or measure your anchors dimensions to obtain a Gold anchor. Our world map of anchors allows you to see where anchors are and how much information about each one has been documented. Find out more about recording anchors.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}