{% extends "header.html" %}

{% block main_content %}
<div class="full-width map full-height">
<div class="full-width center">
<section class="container">
<div class="grid12 col">

<h1>Ultima Ratio Project</h1>
<h2>The fun way to map the guns of the world</h2>
<h3>Help us record historic guns and learn about their place in our maritime history</h3>
</div>
</section>
</div>
</div>

<div class="full-width blue-light">
<section class="container">


<div class="grid6 col">
<div class="box">
<a href="/database" class="img-wrap map">
<h3>Gun Database</h3>
</a>
<p>Over 500 anchors have been added to the project database since its creation in 2008. The database allows individual recorders to upload their anchor records, to improve them over time and to view all the other anchors that have been recorded around the world. The project database is linked to a world map so that anchor records can be viewed in geographical context.</p>
</div><!-- end box -->
</div>

<div class="grid6 col">
<div class="box">
<a href="/database/entry" class="img-wrap faq">
<h3>Recording</h3>
</a>
<p>Our recording system allows you to record as little or as much as you like. Just add a photograph and a location to achieve a Bronze record, identify features on your anchor for a Silver record or measure your anchors dimensions to obtain a Gold anchor. Our world map of anchors allows you to see where anchors are and how much information about each one has been documented. Find out more about recording anchors.</p>
</div><!-- end box -->
</div>
</section>
</div><!--end of full width-->

<!--end of main-content-->

{% endblock %}