connexion
connexion[flask]
starlette
gunicorn
firebase_admin
google-cloud-ndb
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
uvicorn
google-cloud-secret-manager
googlemaps
Jinja2
simplejson
urllib3
Pillow>=10.2