<mat-sidenav-container fullscreen>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" class="fixed-top">
      <button mat-button routerLink="/">
        <div class="navbar-brand">
          <img class="img-responsive m0 p0" height="50" src="../assets/ultima-ratio-logo.jpg">
        </div>
      </button>
      <div fxLayout="row" fxHide fxShow.gt-xs>
          <button mat-button routerLink="/database">Database</button>
          <button mat-button routerLink="/new_record">New Record</button>
      </div>
      <span class="fill-remaining-space"></span>
      <button mat-button routerLink="login">
        <mat-icon>account_circle</mat-icon>
      </button> 
      <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    
    <mat-menu x-position="before" #menu>
      <mat-action-list>
        <button mat-list-item routerLink="/database">Database</button>
        <button mat-list-item routerLink="/new_record">New Record</button>
      </mat-action-list>
    </mat-menu>
    <router-outlet class="pt-5"></router-outlet>
    <div class="w-100" style="font-size:50%;" > <p class="text-center">Website <mat-icon style="font-size:50%;">copyright</mat-icon> <a href="https://runette.co.uk" target="_blank">Runette Software Ltd 2020</a></p></div>
  </mat-sidenav-content>
</mat-sidenav-container>
