<div class="fxCol w-100">
    <mat-progress-bar *ngIf="pbarFlag"
        [mode]="pbarMode"
        color="accent"
        [value]="pbarProgress"
    ></mat-progress-bar>
    <div class="fxRow">
        <div class="m-3">
                <input type="file"
                    [(ngModel)]="files"
                    multiple accept="image/jpeg, image/png, image/bmp, image/eps, image/gif, image/tiff, JPEG, PNG, GOF,EPS,TIFF"
                    class="form-control update-ignore"
                    #fileinput
                    (change)="fileAdded()"
                />

                <button mat-raised-button type="button"
                color="accent"
                    (click)="upload()"
                    id="file-upload" 
                >
                    Upload
                </button>
        </div>
    </div>
    <div >
        <gallery id="photos"
            (error)="error.next($event)"
        ></gallery>
    </div>
</div>
