
.locate-control {
    background: white;
    display: block;
    border: 0px;
    margin: 10px;
    padding: 0px;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
    text-align: left;
  }
  
  .locate-selected {
    color: blue;
  }
  
  .locate-moved {
    color: orange;
  }