<div class="row" [formGroup]="gunForm">
    <div class="col-md-6">
        <table  class="table table-striped">
            <thead class="thead-dark">
            <th colspan='4' scope="row">Basic Information</th>
            </thead>
            <tbody>
            <tr>
                <td >Type of Gun</td>
                <td colspan="3"> 
                    <div class="border border-light">
                        <mat-select  formControlName="category" name="category">
                            <mat-option *ngFor="let category of DATA_VALUES.GUN_CATEGORIES" [value]="category">
                              {{category}}
                            </mat-option>
                          </mat-select>  
                    </div>
                </td>
            </tr>
            <tr>
                <td>Material</td>
                <td colspan="3"> 
                    <div class="border border-light">
                        <mat-select formControlName="material" name="material">
                            <mat-option *ngFor="let material of DATA_VALUES.MATERIAL" [value]="material">
                              {{material}}
                            </mat-option>
                          </mat-select>  
                    </div>
                </td>
            </tr>
            <tr>
                <td >Short Desc</td>
                <td colspan="3">
                    <textarea  class="w-100" rows="2" name="description" placeholder="Description" formControlName="description"></textarea> </td>
            </tr>
            <tr>
                <td >Author</td>
                <td><input class="form-control" type="text" name="name" value="{{gun.owner }}" placeholder="Owner" readonly style="max-width:10em;"></td>
                <td>Date <span class="d-none d-md-inline">Recorded</span></td>
                <td class="">{{gun.date | date :'dd/MM/yy' }}</td>
            </tr>
            </tbody>
        </table>
        <table *ngIf="user.login" class="table table-striped">
            <tbody>
            <tr>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-slide-toggle formControlName="markings" name="markings">Markings?</mat-slide-toggle>
                    </div>
                    <div class="col-sm-6">
                        <mat-slide-toggle formControlName="interpretation" name="interpretations">Information board?</mat-slide-toggle>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped" *ngIf="user.login">
            <tbody>
                <tr *ngIf="gunForm.value.markings">
                    <td>
                        Describe the Markings
                    </td>
                    <td>
                        <textarea class="w-100" name="mark_details" rows='2' placeholder="Details" formControlName="mark_details"></textarea>
                    </td>
                </tr>
                <tr  *ngIf="gunForm.value.interpretation">
                    <td>
                        What does the board say?
                    </td>
                    <td>
                        <textarea class="w-100" rows='2' name="inter_details"  placeholder="Details" formControlName="inter_details"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div class="col-md-6">
        <table  class="table table-striped">
            <thead class="thead-dark">
                <th colspan='2' scope="row">Context</th>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><textarea class="w-100" rows='1' name="display_name" id="display_name" placeholder="Give a name to the site" formControlName="display_name"></textarea></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>
                        <mat-select formControlName="site" name="site">
                            <mat-option *ngFor="let site of gun.geocode.places" [value]="site.name">
                                {{site.name}}
                            </mat-option>
                            <mat-option *ngFor="let site of gun.geocode.geolocation" [value]="site.formatted_address">
                                {{site.formatted_address}}
                            </mat-option>
                        </mat-select>  

                    </td>
                </tr>
                <tr>
                    <td>Description of Cannon Location</td>
                    <td><textarea class="w-100" rows='2' name="context" placeholder="Describe context" formControlName="context"></textarea></td>
                </tr>
                <tr min-height="50px" *ngIf="user.login">
                    <td colspan='2'>
                        <div class="row">
                            <div class="col-2">
                                <mat-slide-toggle formControlName="collection" name="collection"></mat-slide-toggle>
                            </div>
                            <div class="col-10">
                                <small class="text-wrap">Is this gun part of a  museum, gallery or collection or on the grounds of a heritage site like a castle or recognised archeological site?</small>
                            </div> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped" *ngIf="user.login && gunForm.value.collection">
            <tbody>
                <tr >
                    <td>Name of Museum / Gallery / Heritage Site / Collection</td>
                    <td><textarea class="w-100" rows='1' name="coll_name" placeholder="Collection name" formControlName="coll_name"></textarea></td>

                </tr>
                <tr >
                    <td>Collection Ref</td>
                    <td><input class="w-100" type="text" name="coll_ref" placeholder="Collection reference" formControlName="coll_ref"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- second row-->
<div *ngIf="user.login" class="row bg-light pt-3">
    <!-- Map Pane-->
    <div class="col-md-6">
        <app-bcp-gmap
            [options]="options"
            [location]="gun.location"
            [gun]="gun"
            (newLocation$)="locationUpdate($event)"
        >
        </app-bcp-gmap>
    </div>
    <!-- Photo  Pane-->
    <div class="col-md-6">
        <app-bcp-photos 
            [images]="images"
            (newImage$)="acceptPhoto($event)"
        ></app-bcp-photos>
    </div>
</div>
