<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid bg-white m-1">
        <div class="container">
            <h3 >Version 2</h3>
            <p><strong> Version 2 is currently in BETA - not everything will work!</strong></p>
            <p>
                Version 2 is a completely new version of the application using the latest techniques.
                This provides a platform for the future of this application.
            </p>
            <p>
                This version of the application uses <strong>the same database and users</strong> as
                the current version. This means:
            </p>
                <ul>
                    <li>
                        that you see the same guns in version 2 as you see in version 1, and
                    </li>
                    <li>
                        IMPORTANT - that if you make changes in version 2 they will change the real database.
                    </li>
                </ul>
            <p>
                Please do not "experiment" with the data using your real login. If you want to experiment, there is a training login that you can use for that :
            </p>
            <p>
                <strong>Login :    </strong> training1@bigcannonproject.org
            </p><p>
                <strong>Pass  :    </strong> training
            </p>

            If you find any problems - please send to <a href="mailto:info@bigcannonproject.org" target="_blank">info@bigcannonproject.org</a>,
            or if you are happy using Github, <a href="https://github.com/runette/ultima-ratio/issues" target="_blank">raise an issue</a>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white m-1">
        <div class="container">
            <h3 >Changes</h3>
            <p>
                The basic "flow" of the application is not changed. Most things work in the same way. The following are some of the changes:
            </p>
            <ul>
                <li>
                    The "login" menu item is now an icon on the right of the toolar with a picture of a person.
                    This will eventually show a profile picture and a user profile.
                    The login screen does nt require popups anymore
                </li>
                <li>
                    The "new Record" Dialog has been rewritten to make it more usuable and does not require a popup anymore.
                </li>
                <li>British National Grid references have been removed since they do not seem to be used.</li>
                <li>
                    The default order of the database has been changed to show the most recently entered records first.
                </li>
                <li>
                    We are adding some new seaerch filters. The only one that is currently working is to show only the records that you have created.
                </li>
                <li>
                    We are changing the order the "tabs" in the Gun details screens to more naturally mtch the way that people add data.
                </li>
            </ul>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-white m-1">
        <div class="container">
            <h3 >Contributing</h3>
            <p><strong>Version 2 desperately needs more coders!</strong></p>
            <p> We really do need more help to make Version 2 work and add the community features and researcher features that we want to create.</p>
            <p> If you would like to help out, whether coding or create better "help" and "best practice" screens or if you are a researcher
                and would like to advise about what you need from the data, please contact <a href="mailto:info@bigcannonproject.org" target="_blank">info@bigcannonproject.org</a>.</p>
            <p>
                The code is all publicly available on <a href="https://github.com/runette/ultima-ratio/tree/Version-2" target="_blank">github in the "version2" branch</a>
            </p>
            <p>
                The full stack architecture we are using is
                explained <a href="https://medium.com/runic-software/why-i-love-google-app-engine-c9a236f1118" target="_blank">in this Medium article</a>. 
                It is based on a Python backend and Angular front-end.
            </p>
        </div>
    </div>
</div>
