/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';
@import '../styles/site_theme.scss';

@include angular-material-theme($bcp-app-theme);

$primary: mat-color(map-get($bcp-app-theme, primary));
$accent: mat-color(map-get($bcp-app-theme, accent));

.bg-site {
    background-color: $primary;
  }
  
.bg-site-dark {
background-color: $accent;
}

.site {
color: $primary !important;
}
.hidden {
display: none
}

.bg-ur {
background-color: $primary;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
 Every toolbar row uses a flexbox row layout. */
 flex: 1 1 auto;
}