@import '~@angular/material/theming';
@import '../styles/site_theme.scss';

@include angular-material-color($bcp-app-theme);




/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: mat-color(map-get($bcp-app-theme, primary));
$accent: mat-color(map-get($bcp-app-theme, accent));

.bg-site {
    background-color: $primary;
  }
  
.bg-site-dark {
background-color: $accent;
}

.site {
color: $primary !important;
}
.hidden {
display: none
}

.bg-ur {
background-color: $primary;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
 Every toolbar row uses a flexbox row layout. */
 flex: 1 1 auto;
}

.fab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 50px;
  line-height: 45px;
  text-align: center;

  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index:2000;

 transition: all 0.1s ease-in-out;
}

.fab-text {
   font-size: 40px;
   width: unset;
   line-height: unset;
   vertical-align: unset;
}

.arrow {
  border: solid $accent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}