/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

@include mat.core();
@import '../styles/site_theme.scss';

@include mat.all-component-themes($bcp-app-theme);

$primary: mat.get-color-from-palette($bcp-app-primary);
$accent: mat.get-color-from-palette($bcp-app-accent);

html, body {
  height: 100%; 
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-site {
  background-color: $primary;
}
  
.bg-site-dark {
  background-color: $accent;
}

.site {
  color: $primary !important;
}

.hidden {
  display: none
}

.bg-ur {
  background-color: $primary;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.fab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 50px;
  line-height: 45px;
  text-align: center;

  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index:2000;

 transition: all 0.1s ease-in-out;
}

.fab-text {
   font-size: 40px;
   width: unset;
   line-height: unset;
   vertical-align: unset;
}

.arrow {
  border: solid $accent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}