<!--- The Map -->
<div class="map-container fill-remaining-space">
<google-map height="100%"
            width="100%"
            [options]="options"
            (mapInitialized)="loaded($event)"
            (zoomChanged)="onBoundsChanged()"
            (mapDragend)="onBoundsChanged()"
>
    <map-info-window>
        <app-bcp-data-card *ngIf="selectedMarker" 
            [routerLink]="['entry']"
            [queryParams]="{gunid:selectedMarker.gunid}"
            [record]="selectedMarker" 
        ></app-bcp-data-card>
    </map-info-window>
    <new-map-marker-clusterer
        [options]="clusterOptions"
        [apiInitialized]="apiLoaded"
    >
        @for (marker of markerPositions; track marker) {
            <map-marker 
                [position]="marker.position" 
                [icon]="marker.icon" 
                [clickable]="true"
                (mapClick)="markerClick($event)"
            />
        }
    </new-map-marker-clusterer>
</google-map>
<div #bounding_box class="bounding-box" fxHide fxShow.gt-sm></div>
</div>
<app-googlemap-locate
            [options]="locateOptions"
            [(map)]="map"
></app-googlemap-locate>

<!---  The FAB -->
<button mat-fab 
        routerLink="/new_record" 
        color="primary" 
        ngClass='fab'
        matTooltip="Create a new Gun record"
    >
    <mat-icon color='accent' ngClass='fab-text'>
        add
    </mat-icon>
</button>

<!-- The Filter Bar-->
<mat-toolbar color="primary" class="map-nav-wide fxRow"  fxHide fxShow.gt-xs>
    <mat-grid-list cols="12" rowHeight="fit" style="height: 64px;">
        <mat-grid-tile
            colspan="2"
            rowspan="2"
        >
            <button mat-button 
                [disabled]="data.cluster" 
                [matMenuTriggerFor]="typeMenu"
                matTooltip="Filter on the type of Gun"
                >
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Type
                        </span>
                        <span matListItemLine>
                            {{data.gunCategory != 'All' ?  data.gunCategory: ""}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </button>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="2"
            rowspan="2"
        >
            <button mat-button
                    [disabled]="data.cluster"
                    [matMenuTriggerFor]="materialMenu"
                    matTooltip="Filter on what the Gun is made of"
                >
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Material
                        </span>
                        <span matListItemLine>
                            {{data.material != 'All' ? data.material: ""}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </button>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="2"
            rowspan="2"
        >
            <button mat-button
                    [disabled]="data.cluster"
                    [matMenuTriggerFor]="statusMenu"
                    matTooltip="Filter on the status of the record"
                >
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Status
                        </span>
                        <span matListItemLine>
                            {{data.recordQuality != 'All' ? data.recordQuality: ""}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </button>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="2"
            rowspan="2"
        >
            <button mat-button
                    [disabled]="data.cluster"
                    [matMenuTriggerFor]="orderMenu"
                    matTooltip="Change the order the Guns are listed in"
                >
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>
                            Order
                        </span>
                        <span matListItemLine>
                            {{data.cluster ? "": data.order }}
                        </span>
                    </mat-list-item>
                </mat-list>
            </button>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            rowspan="2"
        >
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            >
            <mat-slide-toggle matTooltip="See only your own records or all records"
                class=""
                [color]="'accent'"
                [checked]="data.ownRecords"
                (change)="setOwn($event)"
                [disabled]="data.cluster">
            </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
        >
            <mat-slide-toggle matTooltip="See only the records currently on the map or all records"
                class=""
                [color]="'accent'"
                [checked]="data.here"
                (change)="setHere($event)">
            </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            >
            <mat-slide-toggle matTooltip="Cluster records by site"
                class=""
                [color]="'accent'"
                [checked]="data.cluster"
                (change)="setCluster($event)">
            </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            >
            <span class="toggle-content">
                {{data.ownText}}
            </span>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
        >
            <span class="toggle-content">
                {{data.hereText}}
            </span>
        </mat-grid-tile>
        <mat-grid-tile
            colspan="1"
        >
            <span class="toggle-content">
                {{data.clusterText}}
            </span>
        </mat-grid-tile>
    </mat-grid-list>
</mat-toolbar>

<mat-expansion-panel class="map-nav bg-ur fxRow"  fxShow fxHide.gt-xs>
    <mat-expansion-panel-header>
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-list>
        <button mat-list-item [disabled]="data.cluster" [matMenuTriggerFor]="typeMenu">
            Type
            <small class="text-muted" *ngIf=" data.gunCategory != 'All'"> 
                {{data.gunCategory}}
            </small>
        </button>
        <button mat-list-item [disabled]="data.cluster" [matMenuTriggerFor]="materialMenu">Material<small class="text-muted" *ngIf=" data.material != 'All'"> {{data.material}}</small></button>
        <button mat-list-item [disabled]="data.cluster" [matMenuTriggerFor]="statusMenu">Status<small class="text-muted" *ngIf=" data.recordQuality != 'All'"> {{data.recordQuality}}</small></button>
        <button mat-list-item [disabled]="data.cluster" [matMenuTriggerFor]="orderMenu">Order <small class="text-muted" *ngIf=" ! data.cluster">{{data.order}}</small></button>
        <mat-slide-toggle matTooltip="See only the records currently on the map or all records"
            class=""
            [color]="'accent'"
            [checked]="data.here"
            (change)="setHere($event)"
        >
            <span class="toggle-content">
                {{data.hereText}}
            </span>
        </mat-slide-toggle>
        <mat-slide-toggle mat-list-item matTooltip="Cluster records by site"
          class=""
          [color]="'accent'"
          [checked]="data.cluster"
          (change)="setCluster($event)"
        >
          {{data.clusterText}}
        </mat-slide-toggle>
        <mat-slide-toggle
             mat-list-item matTooltip="See only your own records or all records"
            class=""
            [color]="'accent'"
            [checked]="data.ownRecords"
            (change)="setOwn($event)"
        >
            All
        </mat-slide-toggle>
    </mat-action-list>
</mat-expansion-panel>

<!-- The Site Table -->
<div class="float-table-wide bg-ur" *ngIf="data.cluster" id="table-entries" fxHide fxShow.gt-xs>
    <cdk-virtual-scroll-viewport  itemSize="64" class="w-100 h-100 p-1" > 
        <div *cdkVirtualFor="let site of sites.filteredSites">
            <app-bcp-site-card [routerLink]="['site']" [queryParams]="{site_id:site.id}"
                [site]="site"
            ></app-bcp-site-card>
        </div>
    </cdk-virtual-scroll-viewport>
</div>

<div class="float-table bg-ur" *ngIf="data.cluster" id="table-entries" fxShow fxHide.gt-xs>
    <cdk-virtual-scroll-viewport itemSize="64" class="w-100 h-100" > 
        <div *cdkVirtualFor="let site of sites.filteredSites">
            <app-bcp-site-card [routerLink]="['site']" [queryParams]="{site_id:site.id}"
                [site]="site"
            ></app-bcp-site-card>
        </div>
    </cdk-virtual-scroll-viewport>
</div>


<!-- The Gun Table -->
<div class="float-table-wide bg-ur" *ngIf="! data.cluster" id="table-entries" fxHide fxShow.gt-xs>
    <cdk-virtual-scroll-viewport itemSize="64" class="w-100 h-100 p-1"> 
        <div *cdkVirtualFor="let record of data.geoFilteredData">
            <app-bcp-data-card [routerLink]="['entry']" [queryParams]="{gunid:record.gunid}"
                [record]="record"
                [site]="sites.fetch(record.site_id)"
            ></app-bcp-data-card>
        </div>
    </cdk-virtual-scroll-viewport>
</div>

<div class="float-table bg-ur" *ngIf="! data.cluster" id="table-entries" fxShow fxHide.gt-xs>
    <cdk-virtual-scroll-viewport itemSize="64" class="w-100 h-100 p-1"> 
        <div *cdkVirtualFor="let record of data.geoFilteredData">
            <app-bcp-data-card [routerLink]="['entry']" [queryParams]="{gunid:record.gunid}"
                [record]="record"
                [site]="sites.fetch(record.site_id)"
            ></app-bcp-data-card>
        </div>
    </cdk-virtual-scroll-viewport>
</div>

<!-- The Filter Menus -->
<mat-menu #typeMenu="matMenu">
    <div *ngFor="let item of FILTER_TEXT.GUN_CATEGORIES">
        <button mat-menu-item (click)="setCategory(item)">{{item}}</button>
    </div>
</mat-menu>

<mat-menu #materialMenu="matMenu">
    <div *ngFor="let item of FILTER_TEXT.MATERIAL">
        <button mat-menu-item (click)="setMaterial(item)">{{item}}</button>
    </div>
</mat-menu>

<mat-menu #statusMenu="matMenu">
    <div *ngFor="let item of FILTER_TEXT.RECORD_QUALITIES">
        <button mat-menu-item (click)="setQuality(item)">{{item}}</button>
    </div>
</mat-menu>

<mat-menu #orderMenu="matMenu">
    <button mat-menu-item (click)="setOrder('Latest First')">Latest First</button>
    <button mat-menu-item (click)="setOrder('Oldest First')">Oldest First</button>
</mat-menu>
