/* Map Container */

:root{
 --site:#e3f2fd;
}

:root {
  --site-dark:#007bff}

.bg-site {
  background-color: var(--site);
}

.bg-site-dark {
  background-color: var(--site-dark);
}

.site {
  color: var(--site) !important;
}

.full-width.map { top: 0; padding: 0 !important; margin-top: 50px; position: relative; }

@media (min-width: 1000px) {
.map-container {
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}}

@media (max-width: 999.98px) {
.map-container {width: 100%;height: 80vh !important;display: block;overflow: hidden;}
}
.map-container iframe { width: 100%; height:100vh !important; }

.map-container-inline { height: 30vh !important; border: 1px solid #CCC;overflow: hidden }
.map-container-inline iframe { width: 100%; height: 100% !important; }

/* Map Filter */

.toggle-filters {
  padding: 15px; color: #FFF !important; font-size: 18px; text-decoration: none; display: block;
  background: url(../img/icons/icon-filter3.png) no-repeat right 10px center; background-size: 30px; background-color: #64a3cf;
  -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;
}

.toggle-filters:hover { background-color: #4187b9;  }
.toggle-filters.active { background: url(../img/icons/icon-arrow-down.png) no-repeat right 10px center; background-size: 30px; background-color: #64a3cf; }

.map .filters {display: block; position: relative; z-index: 5000;bottom: 0;left: 0;right: 0;padding: 0;background-color: #EEE;}
.map .filters .container { padding: 0; display: none; }

.map .filters form { margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; flex-grow: 1; }

.map .filters form div { position: relative; margin: 10px 10px 0 10px; width: 100%; }
.map .filters form div:last-child { margin: 10px; }

.map .filters form div input {
  margin: 0; padding: 12px;
  border-radius: 3px; -webkit-border-radius: 3px;
  font-size: 16px; line-height: 16px; width: 90%; color: #333;
}

.map .filters form div.search span { display: block; }
.map .filters form div.search span input {  }
.map .filters form div input.search-field { border: 0; }
.map .filters form div input.search-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 1000;
  top: 1px;
  right: 3px;
  background: url('../img/icons/search-btn.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}

.hidden {
    display: none
}

.bg-ur {
background-color: var(--site);
}


.status { width: 1%; white-space:nowrap; padding: 5px; }
.status span {
  width: 15px; height: 15px;  
  color: #FFF; display: block; margin: 0 auto;
  border-radius: 100px; -webkit-border-radius: 100px;
}

.quality2 { background: #ffcc00; }
.quality1 { background: #CCC; }
.quality0 { background: #ae7a3c; }
        
@media (min-width: 1000px) {
.overlap {
          position:absolute;
          top: 55%;
}}

@media (max-width: 999.98px) {
.overlap {
          position: initial;
}}

.paral {
min-height: 500px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;

}

.para01 {
background-image: url("/img/gun-map-768.jpg");
}

.para02 {
background-image: url("/img/cannon_measuring.jpg");
}

.jumbotron {
margin-bottom: 0;
}


@media (min-width: 1000px) {
.float-table {
          position:absolute;
          top: 13%;
          left: 65%;
          min-width: 25%;
          max-width: 30%;
          max-height: 80%;
          overflow-y: scroll;
          background-color: var(--site);
}}

@media (max-width: 999.98px) {
.float-table {
          position: initial;
}}

.fab {
   width: 50px;
   height: 50px;
   background-color: var(--site);
   fill: var(--site-dark);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   
   font-size: 50px;
   line-height: 45px;
   color: var(--site-dark);
   text-align: center;
   
   position: fixed;
   right: 50px;
   bottom: 50px;
   z-index:2000;
   
  transition: all 0.1s ease-in-out;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}

@media (min-width: 1000px) {
.map-nav {
  max-width: 60%;
  }}
  
@media (max-width: 999.98px) {
.map-nav {}}

@media (min-width: 1000px) {
.pagination {
  position:absolute;
          top: 93%;
          left: 72.5%;
  }}
  
@media (max-width: 999.98px) {
.pagination {}}

.nopad {
        padding-left: 0 !important;
        padding-right: 0 !important;
}

/*image gallery*/
.image-checkbox {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 10px solid transparent;
        margin-bottom: 0;
        outline: 0;
}
.image-checkbox input[type="checkbox"] {
        display: none;    
}

.image-checkbox input[type="radio"] {
        display: none; 
}

.image-checkbox-checked {
        border-color: var(--site);
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

.img-back {
  opacity: 0.8;
}

.img-text {
  color: white;
  opacity:1.0 !important;
}

.btm-nav {

   background-color: var(--site);
   box-shadow: 0 6px 10px 0 #666;
   color: var(--site-dark);
   text-align: center;
  transition: all 0.1s ease-in-out;
}
.btm-nav:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}

.arrow {
  border: solid var(--site-dark);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.btm-pill:not(.active) {
  color: var(--site-dark);
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.btm-pill.active {
  background-color: var(--site);
  box-shadow: 0 6px 10px 0 #666;
  color: var(--site-dark);
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.btm-pill:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
.btn-primary {
  background-color: var(--site);
  box-shadow: 0 6px 10px 0 #666;
  border-color: var(--site);
  color: var(--site-dark);
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--site);
  color: var(--site-dark);
  border-color: var(--site);
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}

$custom-file-text: (
  en: "Choose Photo",
);