{% extends "header.html" %}
{% block main_content %}

<div style="display: none;" id="location_dialog">
<form action="#" id="location-entry" >
        <h3 class="bold">Enter the location of the gun</h3>
        <small class="text-muted"> Enter co-ordinates, move the cannon on the map below to the right place or use your current location</small>
        <div class="row">
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="latlon" checked onchange="radio_button('geolocation')" >
                            <label class="custom-control-label" for="latlon">Lat/Lon</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="bng"  onchange="LL_convert('#location-entry')" >
                            <label class="custom-control-label" for="bng">Grid Ref</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="locate"  onchange="locate_action('geolocation')" >
                            <label class="custom-control-label" for="locate">Get Location</label>
                        </div>
                    </div>
                </div>
        
                <div id="map_canvas" class="map-container-inline" > </div>
                <script>
                    window.initMap = function () {
                    
                        map_icons = {
                                'BRONZE': "/img/cannon_bronze.png",
                                'GOLD': "/img/cannon_gold.png",
                                'SILVER': "/img/cannon_silver.png"
                            };

                        marker_quality = "BRONZE"


                        let location = {
                            lat: 52.0,
                            lng: 0.0
                        };
                        map = new google.maps.Map(document.getElementById('map_canvas'), {
                            zoom: 12,
                            center: location,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            zoomControl: true,
                            mapTypeControl: false,
                            scaleControl: true,
                            streetViewControl: false,
                            rotateControl: true,
                            fullscreenControl: true
                        });
                        marker = null;
                        //reset_map()
                    };
                </script>

                
    


                <div class="row latlon">
                    <div class="col-md-2">
                        Lat
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lat" name="lat" value="52.0" >
                    </div> <div class="col-md-2">
                        Long
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lon" name="lon" value="0.0" >
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="button" onclick="reset_map()">Show</button>
                    </div>
                </div>
                <div class="row latlon">
                    <small class="text-muted mx-auto">All Lat/lon coordinates must be in WGS84</small>
                </div>
                <div class="row bng" style="display: none;">
                    <div class="col-md-2">
                        East
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="eastings" id="eastings" value="" >
                    </div>
                    <div class="col-md-2">
                        North
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="northings" id="northings" value="">
                   </div>
                    <div class="col-md-2">
                        <button class="btn btn-small btn-primary" type="button" onclick="BNG_convert('bronze')">Show</button>
                    </div>
                </div>
                <div class="row bng"style="display: none;">
                    <small class="text-muted mx-auto">Conversion provided by British Geological Survey <a href="https://www.bgs.ac.uk/data/webservices/convertForm.cfm#bngToLatLng">link</a></small>
                </div>
                <div class="row locate" style="display: none;">
                    
                </div>
                <button data-value="1" data-fancybox-close="" class="btn btn-primary mx-auto d-block">Accept</button>
                
</form>
</div>

<div style="display: none;" id="site_dialog">

<h3 class="bold">Enter the correct Site Name for the location of the gun</h3>
        <small class="text-muted"> We use a standard set of location IDs provided by Google Maps to mark the nearest landmark. Pick the Most appropriate"</small>
        <div class="input-group">
        <div class="dropdown">
            <select class="custom-select" name="sietSelect" id="siteSelect">
            </select>
        </div>
        </div>
<div class="d-block row">
    <button data-value="1" data-fancybox-close="" class="btn btn-primary mx-auto d-block">Accept</button>
</div>
</div>

<div class="text-break "style="display: none;max-width:600px;" id="file_dialog">
            <div class="row">
                <h3 class="bold">Add  a photo of the gun</h3>
            </div>
            <div class="progress hidden" >
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary" id="file-upload" >Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" multiple accept="image/jpeg, image/png, image/bmp, image/eps, image/gif, image/tiff, JPEG, PNG, GOF,EPS,TIFF" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label text-truncate" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            <div class="row ">
                <span class="badge badge-success" id="status-message" style="white-space: unset;"></span>
            </div>
            </div>
</div>

{% endblock %}

{% block script %}
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap&libraries=places"></script>
<script src='/static/dialog.js' ></script>


{% endblock %}