{% extends "header.html" %}

{% block main_content %}
<!--main-content-->
<div class="map">
    <div class="map-container" id="map_canvas"></div>
</div>
    <form class="form" id="search"  name="search" action="/database" method="post">
        <input type="hidden" name="_csrf" value="gdPIOlQ9M6j2uKSaiPiPnSzF38QXmBI8aeTKO10HnaTZvIlSGVkH0YPC8PHxkdX3c7KZm3X6aF0xiaxVHFbNlg==">
        <nav class="navbar navbar-expand-md bg-ur mx-1 map-nav" >
                <div class="collapse navbar-collapse" id="mapfilter">
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="anchor-type" name="SearchForm[anchor_type]">
                            <option value="">Material</option>
                            <option value="{{gun_types[0]}}">Cast Iron</option>
                            <option value="{{gun_types[1]}}">Wrought Iron</option>
                            <option value="{{gun_types[2]}}">Bronze</option>
                            <option value="{{gun_types[3]}}">Not Known</option>
                        </select>
                    </div>
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="quality" name="SearchForm[quality]">
                            <option value="">Quality</option>
                            <option value="gold">Gold Records</option>
                            <option value="silver">Silver Record</option>
                            <option value="bronze">Bronze Records</option>
                        </select>
                    </div>
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="order" name="SearchForm[order]">
                            <option value="" selected>Order</option>
                            <option value="4">Date Ascending</option>
                            <option value="3">Date Descending</option>
                        </select>
                    </div>
                </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mapfilter" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/img/icons/caret-bottom.svg" height="25px" >
            </button>
        </nav>
    </form>

<div class="float-table" id="table-entries">
</div>

<div class="fab" onClick="location.href='/new_record'" > + </div>

<!--end of main-content-->
{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer.js"></script>
<script src="/static/gmap_functions.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap"></script>

{% endblock %}