{% extends "header.html" %}

{% block main_content %}
<!--main-content-->
<div class="map">
    <div class="map-container" id="map_canvas" ></div>
</div>
    <form class="form" id="search"  name="search" action="/database" method="post">
        <input type="hidden" name="_csrf" value="gdPIOlQ9M6j2uKSaiPiPnSzF38QXmBI8aeTKO10HnaTZvIlSGVkH0YPC8PHxkdX3c7KZm3X6aF0xiaxVHFbNlg==">
        <nav class="navbar navbar-expand-md bg-ur mx-1 map-nav" >
                <div class="collapse navbar-collapse" id="mapfilter">
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="type" name="SearchForm[type]">
                            <option value="">Type</option>
                            <option value="{{matrix.category[1]}}">{{matrix.category[1]}}</option>
                            <option value="{{matrix.category[2]}}">{{matrix.category[2]}}</option>
                            <option value="{{matrix.category[3]}}">{{matrix.category[3]}}</option>
                            <option value="{{matrix.category[0]}}">{{matrix.category[0]}}</option>
                        </select>
                    </div>
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="material" name="SearchForm[material">
                            <option value="">Material</option>
                            <option value="{{matrix.type[0]}}">{{matrix.type[0]}}</option>
                            <option value="{{matrix.type[1]}}">{{matrix.type[1]}}</option>
                            <option value="{{matrix.type[4]}}">{{matrix.type[4]}}</option>
                            <option value="{{matrix.type[2]}}">{{matrix.type[2]}}</option>
                            <option value="{{matrix.type[3]}}">{{matrix.type[3]}}</option>
                        </select>
                    </div>
                    <div class="navbar-item col-md-4">
                        <select class="custom-select" id="order" name="SearchForm[order]">
                            <option value="" selected>Order</option>
                            <option value="4">Date Ascending</option>
                            <option value="3">Date Descending</option>
                        </select>
                    </div>
                </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mapfilter" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/img/icons/caret-bottom.svg" height="25px" >
            </button>
        </nav>
    </form>

<div class="float-table" id="table-entries">
</div>

<div class="fab" onClick="location.href='/new_record'" > + </div>

<!--end of main-content-->
{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer-es5.js" ></script>
<script src="/static/gmap_functions-es5.js" ></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap"></script>
{% endblock %}