{% extends "header.html" %}
{% set images = gun.get_images() %}
{% block main_content %}

 <form action="/set_entry" id="detail" method="post">
    <input type="hidden" id="id" name="id" value="{{ gun.gunid }}" readonly >
    <input type="hidden" id="user_id" name="user_id" value="{{gun.user_id}}" readonly >
    <div class="row p-3  bg-ur" >
            <div class="media">
                <a class="align-self-center mr-3 fancybox" href="{{images[0].original}}"><img src="{{images[0].s200}}" height="70px" alt=""></a>
            </div>
            <div class="media-body  p-2">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Gun ID : {{ gun.gunid }}</h2>
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                    {% if edit %}
    
                    {% else %}
                        <p class="text-muted"> Read-only </p>
                    {% endif %}
                    <button class="btn btn-secondary" type="button" onclick="link_here()" data-toggle="popover"  data-content="A permanent link to this record has been copied to the clipboard">Link here</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div class="tab-content" id="nav-tabContent">
        <div class='tab-pane fade show active' id="list-bronze" role="tabpanel" aria-labelledby='list-bronze-list'>
            {% include 'observer.html'  %}
        </div>
        <div div class='tab-pane fade' id="list-silver" role="tabpanel" aria-labelledby='list-silver-list'>
            {% include 'recorder.html'  %}
        </div>
        <div div class='tab-pane fade' id="list-gold" role="tabpanel" aria-labelledby='list-gold-list'>
            {%  include 'surveyor.html'  %}
        </div>
     </div>
</form>
<div class="fab fab-click" id="fab" > + </div>

<div class="pb-5"></div>

<div class="row fixed-bottom  bg-light ">
<div class="col-3">
  <span class="btm-nav float-left mx-3 my-1 px-3" onclick="last()"><i class="arrow left"></i><span class="d-none d-sm-inline">Prev</span></span>
  </div><div class="col-6">

            <ul class="nav justify-content-center" data-toggle="" title="">
            <li class="nav-item">
                <a class="nav-link text-center btm-pill active" id="observer" role="tab" data-toggle="list"  href="#list-bronze" aria-controls="list-bronze" onclick="sessionStorage.setItem('view', 'observer')"><span class="d-inline d-sm-none">O</span><span class="d-none d-sm-inline">Observer</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btm-pill " id="reporter" role="tab" data-toggle="list"  href="#list-silver"  aria-controls="list-silver" onclick="sessionStorage.setItem('view', 'reporter')"><span class="d-inline d-sm-none">R</span><span class="d-none d-sm-inline">Reporter</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btm-pill " id="surveyor" role="tab" data-toggle="list"  href="#list-gold" aria-controls="list-gold" onclick="sessionStorage.setItem('view', 'surveyor')"><span class="d-inline d-sm-none">S</span><span class="d-none d-sm-inline">Surveyor</span></a>
            </li>
            </ul>
            </div>

        <div class="col-3">
  <span class=" btm-nav float-right mx-3 my-1 px-3" onclick="next()"><span class="d-none d-sm-inline">Next</span> <i class="arrow right"></i> </span>
  </div>
</div>


{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap"></script>
<script type="application/javascript" >
                    //history.pushState({}, 'Title: Database', '/database');
                    let edit = "{{edit}}",
                        gunid = {{gun.gunid}},
                        current_view = JSON.parse(sessionStorage.getItem("current_view")),
                        database = JSON.parse(sessionStorage.getItem('database'));
                    sessionStorage.setItem('gunid',gunid);
                    let entryPath = sessionStorage.getItem('entryPath');
                    $('.bng').hide();
                    $('.locate').hide();
                    $('#file-upload').click(function(){send_file()})
                    if (edit === "True") {
                        
                        }
                    else {
                        $('input').prop("readonly", true);
                        $('select').prop("disabled", true);
                        $('textarea').prop("readonly", true);

                    };
                    $('#fab').on('click.fab-click', function(){
                        location.href='/new_record'
                    });

                    if (sessionStorage.getItem('view')){
                        $('#' + sessionStorage.getItem('view')).tab('show')
                    };
                    function feature_toggle(feature){
                            $(feature).collapse('toggle')
                            };
                    function next() {
                        let idx
                        for (idx = 0; idx<current_view.length; idx++ ){
                                if (current_view[idx].anchor_id == gunid) {
                                if ( idx != current_view.length -1) {
                                    window.location.href=entryPath + current_view[idx + 1].anchor_id
                                    }
                                else {
                                     window.location.href=entryPath + current_view[0].anchor_id
                                    }
                                }
                            }
                        };

                    function last() {
                        let idx
                        for (idx = 0; idx<current_view.length; idx++ ){
                                if (current_view[idx].anchor_id == gunid) {
                                if ( idx != 0 ) {
                                    window.location.href=entryPath + current_view[idx - 1].anchor_id
                                    }
                                else {
                                     window.location.href=entryPath + current_view[current_view.length - 1].anchor_id
                                    }
                                }
                            }
                        };
                        
                    function updateSvg(cannonSvg) {
                        cannonSvg.getElementById('length-text').firstElementChild.innerHTML = measurements['length']/scale;
                        $('#length').val(measurements['length']/scale);
                        cannonSvg.getElementById('br-text').firstElementChild.innerHTML = measurements['base_ring']/scale;
                        $('#base_ring').val(measurements['base_ring']/scale);
                        cannonSvg.getElementById('muzzle-text').firstElementChild.innerHTML = measurements['muzzle']/scale;
                        $('#muzzle').val    (measurements['muzzle']/scale);
                        cannonSvg.getElementById('bore-text').firstElementChild.innerHTML = measurements['bore']/scale;
                        $('#bore').val(measurements['bore']/scale);
                        cannonSvg.getElementById('tp-text').firstElementChild.innerHTML = measurements['trunnion_position']/scale;
                        $('#trunnion_position').val(measurements['trunnion_position']/scale);
                        cannonSvg.getElementById('tw-text').firstElementChild.innerHTML = measurements['trunnion_width']/scale;
                        $('#trunnion_width').val(measurements['trunnion_width']/scale);
                        cannonSvg.getElementById('td-text').firstElementChild.innerHTML = measurements['trunnion_diameter']/scale;
                        $('#trunnion_diameter').val(measurements['trunnion_diameter']/scale);
                        cannonSvg.getElementById('to-text').firstElementChild.innerHTML = measurements['trunnion_offset']/scale;
                        $('#trunnion_offset').val(measurements['trunnion_offset']/scale);
                        };

                    function form_changed(){
                        if (edit == 'True') {
                            $('#fab')[0].innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg>'
                            $('#fab')
                                .off('click.fab-click')
                                .on('click.fab-click', function(){
                                    sessionStorage.removeItem('database');
                                    $('#detail').submit()
                                })
                            }
                        };
                        
                    function link_here() {
                        const el = document.createElement('textarea');  // Create a <textarea> element
                        el.value = window.location.href;                                 // Set its value to the string that you want copied
                        el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
                        el.style.position = 'absolute';                 
                        el.style.left = '-9999px';                      // Move outside the screen to make it invisible
                        document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
                        const selected =            
                            document.getSelection().rangeCount > 0        // Check if there is any content selected previously
                                ? document.getSelection().getRangeAt(0)     // Store selection if found
                                : false;                                    // Mark as false to know no selection existed before
                        el.select();                                    // Select the <textarea> content
                        document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
                        document.body.removeChild(el);                  // Remove the <textarea> element
                        if (selected) {                                 // If a selection existed before copying
                            document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
                            document.getSelection().addRange(selected);   // Restore the original selection
                        };
                    };

                    let measurements = {
                        "length":{{gun.measurements.length | default(0, true)}},
                        "base_ring":{{gun.measurements.base_ring | default(0, true)}},
                        "muzzle":{{gun.measurements.muzzle | default(0, true)}},
                        "bore":{{gun.measurements.bore | default(0, true)}},
                        "trunnion_position":{{gun.measurements.trunnion_position | default(0, true)}},
                        "trunnion_width":{{gun.measurements.trunnion_width | default(0, true)}},
                        "trunnion_diameter":{{gun.measurements.trunnion_diameter | default(0, true)}},
                        "trunnion_offset":{{gun.measurements.trunnion_offset | default(0, true)}},
                        };
                    let scale;
                    if (sessionStorage.getItem('scale') == 'm') {
                        $('#units').prop( "checked", false );
                        scale=1000.0;
                    }
                    else {
                        sessionStorage.setItem("scale","mm");
                        scale=1.0;
                    };
                    let cannon = $("#cannon")[0];
                        cannon.addEventListener('load', function() {
                            let cannonSvg = cannon.contentDocument;
                            updateSvg(cannonSvg);
                            });

                    $(function(){
                        $(".image-checkbox").each(function () {
                            if ($(this).find('input').first().attr("checked")) {
                                $(this).addClass('image-checkbox-checked');
                                }
                            else {
                                $(this).removeClass('image-checkbox-checked');
                                }
                            });
                        $(".icheck").on("click", function (e) {
                            if (! $(this).hasClass('image-checkbox-checked')) {
                                $(this).addClass('image-checkbox-checked');
                                $(this).find('input').first().attr("checked", "checked");
                            }
                            el = $('#moulding')
                            el.val(el.val() + $(this).find('input').first().val());
                            e.preventDefault();
                            form_changed();
                            });

                        $("[type='radio']").on("change", function (e) {
                            $("[name='" + this.name + "']").each(function(index){
                                let parent = this.parentElement
                                if ($(parent).hasClass('image-checkbox-checked')) {
                                    $(parent).removeClass('image-checkbox-checked');
                                }
                            })
                            $(this.parentElement).addClass('image-checkbox-checked')
                            $(`#${this.name}`).text(this.value)
                            e.preventDefault();
                            });
                        $("#detail :input").on('input',function(e) {
                            if (! this.classList.contains("update-ignore")){
                                form_changed()
                                }
                            });
                        $(".measurement").on('input',function(e) {    
                            let field=this.name,
                            current = this.value,
                            value = parseFloat(this.value);
                            if (value || value === 0) {
                                measurements[field] = value * scale ;
                                updateSvg(cannon.contentDocument);
                                this.value=current;
                                }
                            });
                        $('#units').on('change', function(){
                            sessionStorage.setItem('scale', (this.checked)?"mm":"m")
                            scale = (this.checked) ? 1 : 1000;
                            updateSvg(cannon.contentDocument);
                        });
                        var mc = new Hammer(document.getElementById('detail'));
                        // listen to events...
                        mc.on("swipeleft", function(ev) {
                            next();
                         });
                        mc.on("swiperight", function(ev) {
                            last();
                         });
                        $('[data-toggle="popover"]').popover({
                            trigger:'click',
                            delay: { "show": 100, "hide": 200 },
                            html: true,
                            title: 'Link to Record <i class="material-icons float-right close">close</i>'
                         })
                        $(document).on("click", ".popover .close" , function(){
                            $(this).parents(".popover").popover('hide');
                         });
                        })
</script>
{% endblock %}
