{% extends "header.html" %}
{% set images = gun.get_images() %}
{% block main_content %}

 <form action="/set_entry" id="bronze" method="post">
    <input type="hidden" id="id" name="id" value="{{ gun.gunid }}" readonly >
    <input type="hidden" id="user_id" name="user_id" value="{{gun.user_id}}" readonly >
    <div class="row p-3  bg-ur" >
            <div class="media">
                <a class="align-self-center mr-3 fancybox" href="{{images[0].original}}"><img src="{{images[0].s200}}" height="70px" alt=""></a>
            </div>

            <div class="media-body display-1 p-2">
                <h2>Gun ID : {{ gun.gunid }}
                {% if edit %} 

                {% else %}
                    <small class="text-muted float-right align-middle"> Read-only </small>
                {% endif %}
                </h2>
            </div>
        </div>
    <div class="row  p-3 mb-3 bg-ur">
    <div class="mx-auto d-block">
        <ul class="nav nav-tabs bg-ur" data-toggle="" title="">
            <li class="nav-item">
                <a class="nav-link text-center list-group-item-action active" id="list-bronze-list" data-toggle="list"  href="#list-bronze" role="tab" aria-controls="list-bronze">Observer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center list-group-item-action " id="list-silver-list" data-toggle="list"  href="#list-silver" role="tab" aria-controls="list-silver">Recorder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center list-group-item-action " id="list-gold-list" data-toggle="list"  href="#list-gold" role="tab" aria-controls="list-gold">Surveyor</a>
            </li>
        </ul>
    </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class='tab-pane fade show active' id="list-bronze" role="tabpanel" aria-labelledby='list-bronze-list'>
            {% include 'observer.html'  %}
        </div>    
        <div div class='tab-pane fade' id="list-silver" role="tabpanel" aria-labelledby='list-silver-list'>
            {% include 'recorder.html'  %}
        </div>
        <div div class='tab-pane fade' id="list-gold" role="tabpanel" aria-labelledby='list-gold-list'>
            {%  include 'surveyor.html'  %}
        </div>
     </div>   
</form>



{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer.js"></script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap"></script>
<script type="application/javascript" >
                    let edit = "{{edit}}";
                    $('.bng').hide();
                    $('.locate').hide();
                    if (edit === "True") {
                        $('#top-button').html(
                            '<ul class="nav-bar nav px-1"><Button type="submit" form="bronze" class="btn btn-primary"  href="#">Save</Button></ul>' + $('#top-button').html()
                        )
                        $('#inputGroupFileAddon01').click(function(){send_file()})
                        }
                    else {
                        $('input').prop("readonly", true);
                        $('select').prop("disabled", true);

                    }
                    $('#imgs').imagesGrid({
                        images: [ {% for image in images %}{src:"{{image.original|safe}}", thumbnail: "{{image.s200|safe}}" },{% endfor %} ],
                        cells: 4,
                        align: true,
                        showViewAl: "always"
                    });
                    $(function(){
                        let cannon = $("#cannon")[0];
                        cannon.addEventListener('load', function() {
                            let cannonSvg = cannon.contentDocument;
                            cannonSvg.getElementById('length-text').firstElementChild.innerHTML = "{{gun.measurements.length}}";
                            cannonSvg.getElementById('br-text').firstElementChild.innerHTML = "{{gun.measurements.base_ring}}";
                            cannonSvg.getElementById('muzzle-text').firstElementChild.innerHTML = "{{gun.measurements.muzzle}}";
                            cannonSvg.getElementById('bore-text').firstElementChild.innerHTML = "{{gun.measurements.bore}}";
                            cannonSvg.getElementById('tp-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_position}}";
                            cannonSvg.getElementById('tw-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_width}}";
                            cannonSvg.getElementById('td-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_diameter}}";
                            cannonSvg.getElementById('to-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_offset}}";
                            });
                        $(".image-checkbox").each(function () {
                            if ($(this).find('input').first().attr("checked")) {
                                $(this).addClass('image-checkbox-checked');
                                }
                            else {
                                $(this).removeClass('image-checkbox-checked');
                                }
                            });
                        $(".icheck  ").on("click", function (e) {
                            if ($(this).hasClass('image-checkbox-checked')) {
                                $(this).removeClass('image-checkbox-checked');
                                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
                                }
                            else {
                                $(this).addClass('image-checkbox-checked');
                                $(this).find('input').first().attr("checked", "checked");
                            }

                            e.preventDefault();
                            });
                            
                        $("[type='radio']").on("change", function (e) {
                            $("[name='" + this.name + "']").each(function(index){                        
                                let parent = this.parentElement
                                if ($(parent).hasClass('image-checkbox-checked')) {
                                    $(parent).removeClass('image-checkbox-checked');
                                }
                            })
                            $(this.parentElement).addClass('image-checkbox-checked')
                            e.preventDefault();
                            });
                    })
</script>
{% endblock %}