{% extends "header.html" %}
{% set images = gun.get_images() %}
{% block main_content %}

 <form action="/set_entry" id="detail" method="post">
    <input type="hidden" id="id" name="id" value="{{ gun.gunid }}" readonly >
    <input type="hidden" id="user_id" name="user_id" value="{{gun.user_id}}" readonly >
    <div class="row p-3  bg-ur" >
            <div class="media">
                <a class="align-self-center mr-3 fancybox" href="{{images[0].original}}"><img src="{{images[0].s200}}" height="70px" alt=""></a>
            </div>

            <div class="media-body display-1 p-2">
                <h2>Gun ID : {{ gun.gunid }}
                {% if edit %} 

                {% else %}
                    <small class="text-muted float-right align-middle"> Read-only </small>
                {% endif %}
                </h2>
            </div>
        </div>
    <div class="tab-content" id="nav-tabContent">
        <div class='tab-pane fade show active' id="list-bronze" role="tabpanel" aria-labelledby='list-bronze-list'>
            {% include 'observer.html'  %}
        </div>    
        <div div class='tab-pane fade' id="list-silver" role="tabpanel" aria-labelledby='list-silver-list'>
            {% include 'recorder.html'  %}
        </div>
        <div div class='tab-pane fade' id="list-gold" role="tabpanel" aria-labelledby='list-gold-list'>
            {%  include 'surveyor.html'  %}
        </div>
     </div>   
</form>
<div class="fab fab-click" id="fab" > + </div>

<div class="pb-5"></div>

<div class="row fixed-bottom  bg-light ">
<div class="col-3">
  <span class="btm-nav float-left mx-3 my-1 px-3" onclick="last()"><i class="arrow left"></i><span class="d-none d-sm-inline">Last</span></span>
  </div><div class="col-6">
  
            <ul class="nav justify-content-center" data-toggle="" title="">
            <li class="nav-item">
                <a class="nav-link text-center btm-pill active" id="observer" role="tab" data-toggle="list"  href="#list-bronze" aria-controls="list-bronze" onclick="sessionStorage.setItem('view', 'observer')"><span class="d-inline d-sm-none">O</span><span class="d-none d-sm-inline">Observer</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btm-pill " id="reporter" role="tab" data-toggle="list"  href="#list-silver"  aria-controls="list-silver" onclick="sessionStorage.setItem('view', 'reporter')"><span class="d-inline d-sm-none">R</span><span class="d-none d-sm-inline">Reporter</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center btm-pill " id="surveyor" role="tab" data-toggle="list"  href="#list-gold" aria-controls="list-gold" onclick="sessionStorage.setItem('view', 'surveyor')"><span class="d-inline d-sm-none">S</span><span class="d-none d-sm-inline">Surveyor</span></a>
            </li>
            </ul>
            </div>
        
        <div class="col-3">
  <span class=" btm-nav float-right mx-3 my-1 px-3" onclick="next()"><span class="d-none d-sm-inline">Next</span> <i class="arrow right"></i> </span>
  </div>
</div>

 
{% endblock %}

{% block script %}

<script src="/static/sweetalert.min.js"></script>
<script src="/static/markerclusterer.js"></script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyAjR85QEAekYmsSyDPETXxprFpnEsdgjjU&amp;callback=initMap"></script>
<script type="application/javascript" >
                    history.pushState({}, 'Title: Database', '/database');
                    let edit = "{{edit}}",
                        gunid = {{gun.gunid}},
                        current_view = JSON.parse(sessionStorage.getItem("current_view")),
                        database = JSON.parse(sessionStorage.getItem('database'));
                    sessionStorage.setItem('gunid',gunid)
                    $('.bng').hide();
                    $('.locate').hide();
                    if (edit === "True") {
                        $('#inputGroupFileAddon01').click(function(){send_file()})
                        }
                    else {
                        $('input').prop("readonly", true);
                        $('select').prop("disabled", true);

                    }
                    $('#fab').on('click.fab-click', function(){
                        location.href='/new_record'
                    })
                    if (sessionStorage.getItem('view')){
                        $('#' + sessionStorage.getItem('view')).tab('show')
                    }
                    function feature_toggle(feature){
                            $(feature).collapse('toggle')
                            }
                    function next() {
                        let idx
                        for (idx = 0; idx<current_view.length; idx++ ){
                                if (current_view[idx].anchor_id == gunid) {
                                if ( idx != current_view.length -1) {
                                    window.location.href=database.entryPath + current_view[idx + 1].anchor_id
                                    }
                                else {
                                     window.location.href=database.entryPath + current_view[0].anchor_id
                                    }
                                }
                            }
                        }
                    
                    function last() {
                        let idx
                        for (idx = 0; idx<current_view.length; idx++ ){
                                if (current_view[idx].anchor_id == gunid) {
                                if ( idx != 0 ) {
                                    window.location.href=database.entryPath + current_view[idx - 1].anchor_id
                                    }
                                else {
                                     window.location.href=database.entryPath + current_view[current_view.length - 1].anchor_id
                                    }
                                }
                            }
                        }
                        
                    function form_changed(){
                        if (edit == 'True') {
                            $('#fab')[0].innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg>'
                            $('#fab')
                                .off('click.fab-click')
                                .on('click.fab-click', function(){
                                    sessionStorage.removeItem('database');
                                    $('#detail').submit()
                                })
                            }
                        }
                        
                    $(function(){
                        let cannon = $("#cannon")[0];
                        cannon.addEventListener('load', function() {
                            let cannonSvg = cannon.contentDocument;
                            cannonSvg.getElementById('length-text').firstElementChild.innerHTML = "{{gun.measurements.length}}";
                            cannonSvg.getElementById('br-text').firstElementChild.innerHTML = "{{gun.measurements.base_ring}}";
                            cannonSvg.getElementById('muzzle-text').firstElementChild.innerHTML = "{{gun.measurements.muzzle}}";
                            cannonSvg.getElementById('bore-text').firstElementChild.innerHTML = "{{gun.measurements.bore}}";
                            cannonSvg.getElementById('tp-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_position}}";
                            cannonSvg.getElementById('tw-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_width}}";
                            cannonSvg.getElementById('td-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_diameter}}";
                            cannonSvg.getElementById('to-text').firstElementChild.innerHTML = "{{gun.measurements.trunnion_offset}}";
                            });
                        $(".image-checkbox").each(function () {
                            if ($(this).find('input').first().attr("checked")) {
                                $(this).addClass('image-checkbox-checked');
                                }
                            else {
                                $(this).removeClass('image-checkbox-checked');
                                }
                            });
                        $(".icheck  ").on("click", function (e) {
                            if ($(this).hasClass('image-checkbox-checked')) {
                                $(this).removeClass('image-checkbox-checked');
                                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
                                }
                            else {
                                $(this).addClass('image-checkbox-checked');
                                $(this).find('input').first().attr("checked", "checked");
                            }

                            e.preventDefault();
                            });
                            
                        $("[type='radio']").on("change", function (e) {
                            $("[name='" + this.name + "']").each(function(index){                        
                                let parent = this.parentElement
                                if ($(parent).hasClass('image-checkbox-checked')) {
                                    $(parent).removeClass('image-checkbox-checked');
                                }
                            })
                            $(this.parentElement).addClass('image-checkbox-checked')
                            e.preventDefault();
                            });
                        $("#detail :input").change(function() {
                            if ($('#file-name').text() != " ") {
                                form_changed()
                                }
                            });
                    })
</script>
{% endblock %}