
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="5iiQ79ZII_orKUeWGItkjIgDZLBkxt5GtwRU3YjkBWK-R9GHmywXg15TE_1h4j7m13Qi7wakpCfvaTKzybVVUA==">
    <title>Big Cannon Project</title>
    <meta name="description" content="Online database of Cannon">
    <meta name="keywords" content="NAS, Nautical, Archeology, cannon, ultim-ratio, gun, breach, loading">
    <meta name="author" content="Paul Harwood">
    <meta name="theme-color" content="#e3f2fd"/>
    <link rel="icon" sizes="192x192" href="/img/gun-map-192.png">
    <link rel="apple-touch-icon" href="/img/gun-map-192.png">
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel='manifest' href='/static/manifest.json'/>
    <link rel="preconnect" href="https://maps.googleapis.com">
    <script type="text/javascript">window.BaseUrl = '';</script>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,200,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" data-include href="/static/custom.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
    <link rel="stylesheet" type="text/css" href="/static/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick-theme.css"/>

</head>
<body class="pt-5">
    <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Login Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="small modal-body">To create a Gun record, you must be logged in. When you log in, we create a cookie on your computer strictly for essential functional use only. By proceeding you accept this and our <a href="/tor">Terms of Reference</a> and <a href="/privacy">Privacy Policy</a></div>
          <div class="modal-body" id="firebaseui-auth-container"> <span class="badge badge-warning text-wrap"  id="status-message" style="white-space: unset;">Your Browser is probably not supported. No version of IE is supported. However please try at least twice before reporting an error </span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-site fixed-top" >
          <div class="navbar-brand">
              <img class="img-responsive m0 p0" height="50" src="/img/ultima-ratio-logo.jpg   ">
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="/"></a>
                <a href="/" class="logo"></a>
                <ul class="navbar-nav font-weight-bold">
                    <li class="nav-item{% if index == 1 %} active {% endif %}" id="nav-1">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if index == 3 %} active {% endif %}" id="nav-2">
                      <a class="nav-link" href="/database">Gun Database</a>
                    </li>
                    <li class="nav-item {% if index == 4 %} active {% endif %}" id="nav-3">
                      <a class="nav-link" href="/new_record">New Record</a>
                    </li>
                    {% if researcher%}
                    <li class="nav-item dropdown {% if index == 5 %} active {% endif %}" id="nav-4">
                      <a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown">Researcher</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="makeApiCall()">Spreadsheet View</a>
                        <a class="dropdown-item" href="#">Form View</a>
                      </div>
                    </li>
                    {% endif %}
                    <li class="nav-bar nav " >
                      <a class="nav-link" id="login"  role="button" data-toggle="modal" data-target="#login-modal"> {{user_data.url_linktext}}</a>
                    </li>
                    <li id="test-badge" class="d-none">
                      <span class="badge badge-warning">{% if user_data.train %} Training {% else %} Test {% endif %}</span>
                    </li>
                </ul>
          </div>
            <div class="nav navbar-nav navbar-right" id="top-button">
                <a href="http://eepurl.com/hrRxUf" class="nav-link">Newsletter</a>
                <a href="https://stageing-dot-ultima-ratio-221014.nw.r.appspot.com/" class="nav-link">New Version</a>
            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

    </div>
    <div class="container pt-5">

    {% block main_content %} {% endblock %}

    </div>
    <div class="w-100" style="font-size:50%;" > <p class="text-center">Website &copy <a href="https://runette.co.uk" target="_blank">Runette Software Ltd 2020</a></p></div>
    <div class="toast" role="alert" id="update-toast" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0; right: 0;">
      <div class="toast-header">
        <strong class="mr-auto">Update</strong>
        <small>11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        There is an application update. Refresh your browser to get the update.
      </div>
    </div>
</body>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-storage.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <script src="/static/functions.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"></script>
    <script >
    dev = ('{{user_data.test }}' === 'True')?true:false || window.location.hostname == ('localhost')
    if (dev) {
      $('#test-badge').removeClass('d-none');
    }
    cssVars({
  // Include only CSS from <link> and <style> elements with
  // a "data-include" attribute
  // Ex: <link data-include rel="stylesheet" href="...">
  // Ex: <style data-include>...</style>
  include: '[data-include]'
});
    </script>
<script type="module">
import {Workbox} from 'https://storage.googleapis.com/workbox-cdn/releases/4.1.0/workbox-window.prod.mjs';
$('.toast').toast()
if ('serviceWorker' in navigator) {
  const wb = new Workbox('/sw.js');
  wb.addEventListener('installed', (event) => {
    if (event.isUpdate) {
            $('#update-toast').toast('show');
            new Promise(resolve => setTimeout(resolve, 5000)).then(() => {
              $('#update-toast').toast('dispose');
            })
          };
        });
  wb.register();
}
</script>



{% block script %}{% endblock %}
</html>
