
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="5iiQ79ZII_orKUeWGItkjIgDZLBkxt5GtwRU3YjkBWK-R9GHmywXg15TE_1h4j7m13Qi7wakpCfvaTKzybVVUA==">
    <title>Big Gun Site</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <script type="text/javascript">window.BaseUrl = '';</script>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,200,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/custom.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
    <link rel="stylesheet" href="/static/images-grid.css">
    <link rel="stylesheet" type="text/css" href="/static/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/slick-theme.css"/>
                                
</head>
<body class="pt-5">
    <div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Login Options</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="small modal-body">To create a Gun record, you must be logged in. When you log in, we create a cookie on your computer strictly for essential functional use only. By proceeding you accept this and our <a href="https://app.termly.io/document/terms-and-conditions/39c09e25-344b-49a8-95d2-d817738d36aa">Terms of Reference</a> and <a href="https://www.iubenda.com/privacy-policy/19391456">Privacy Policy</a></div>
          <div class="modal-body" id="firebaseui-auth-container">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd;">
          <div class="navbar-brand">
              <img class="img-responsive m0 p0" height="50" src="https://ultimaproject.files.wordpress.com/2018/07/cropped-ultima-ratio-logo1.jpg   ">
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
                <a class="navbar-brand" href="/"></a>
                <a href="/" class="logo"></a>
                <ul class="navbar-nav font-weight-bold">
                    <li class="nav-item{% if index == 1 %} active {% endif %}" id="nav-1">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if index == 3 %} active {% endif %}" id="nav-2">
                        <a class="nav-link" href="/database">Gun Database</a>
                    </li>
                    <li class="nav-item {% if index == 4 %} active {% endif %}" id="nav-3">
                        <a class="nav-link" href="/new_record">New Record</a>
                    </li>
                    <li class="nav-item {% if index == 5 %} active {% endif %}" id="nav-4">
                        <a class="nav-link" href="/donate">Donate</a>
                    </li>
                    <li class="nav-bar nav " >
                        <a class="nav-link" id="login"  role="button" data-toggle="modal" data-target="#login-modal"> {{user_data.url_linktext}}</a>
                    </li>
                </ul>
          </div>
            <div class="nav navbar-nav navbar-right" id="top-button">

            </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
    </div>
    <div class="container pt-5">

    {% block main_content %} {% endblock %}

    </div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-storage.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <script src="/static/images-grid.js"></script>
    <script src="/static/functions.js"></script></body>
    
    

{% block script %}{% endblock %}
</html>
