{% extends "header.html" %}

{% block main_content %}

    

<div class="jumbotron jumbotron-fluid text-center paral para01" >
    <div class="container">
        <h1><span class="display-4 text-white bg-primary p-3">Big Cannon Project</span></h1>
        <div class="d-flex justify-content-center pt-3">
            <div class="">
                <a href="#about" class="btn btn-primary align-middle">Learn more</a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid text-center bg-white">
     <div class="container">
        <h3 >Gun Database</h3>
        <p >The database allows individual recorders to upload their gun records, to improve them over time and to view all the other guns that have been recorded around the world. The project database is linked to a world map so that gun records can be viewed in geographical context.</p>
        <a href="/database" class="btn btn-primary align-middle">Explore the Guns</a>
        
      </div>
</div>
    
<div class="jumbotron jumbotron-fluid text-center paral para02">
     <div class="container">
                <h3 class="text-white" style="text-shadow: #444 0 1px 1px;">Recording</h3>
                <span class="img-back d-block"><p class="img-text bold" style="text-shadow: #444 0 1px 1px;">Our recording system allows you to record as little or as much as you like. Just add a photograph and a location to qualify as an Observer, identify features on your gun for a Recorder record or measure your gun's dimensions to achieve Gold and be a Surveyor. Our world map of guns allows you to see where guns are and how much information about each one has been documented. Find out more about recording guns.</p></span>
                <a class="btn btn-small btn-light" role="button" href="http://www.3hconsulting.com/techniques/TechRecordingCannon.html"> How to Record Guns</a>
        </div>
</div>


<div class="jumbotron jumbotron-fluid text-center bg-white" id="about">
     <div class="container">
<h1>About the Project</h1>
        <div id="picture-carousel" class="container pictures d-none d-md-flex">
            {% for post in posts.posts %}
                    <div class="card" onClick="location.href='{{post.URL|safe}}'">
                        <div class="h5 card-header">
                            {{post.title|safe}}
                        </div>
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img class="card-img" src="{{post.post_thumbnail.URL|safe}}" alt="picture">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-text">
                                        {{post.excerpt|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    <p>
The Ultima Ratio Project aims to develop a centralised database of historical muzzle-loading artillery guns.
    </p><p>

Launched in June 2018, the Project seeks to engage with scholars, curators, arms specialists, historical preservation organisations, individual researchers, and other key stakeholders in recording the history of important muzzle-loading ‘big guns’, and making such data publicly available.
</p><p>
In addition to the ongoing database development, the Project produces short articles highlighting interesting or noteworthy historical  guns.
</p><p>
The name of the project is derived from the Latin phrase ‘Ultima Ratio Regum’, often translated as ‘the final argument of kings’. This phrase adorned some French cannon, initially by order of Louis XIV (1638–1715), but has come to be synonymous with artillery more generally.
</p><p>
The Ultima Ratio Project is administered by Armament Research Services (ARES), a specialist intelligence consultancy. ARES also provides financial assistance to the Project.
    </p>
</div><!-- end box -->
</div>
</div>
<div class="d-flex flex-row justify-content-around pt-3">
<a href="https://www.iubenda.com/privacy-policy/19391456" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

<a class="btn btn-sm btn-light" role="button "href="https://app.termly.io/document/terms-and-conditions/39c09e25-344b-49a8-95d2-d817738d36aa">Terms and Conditions of Access </a>
</div>

<div class="row pt-3">
        
            <div class="col">
                <a href="http://armamentresearch.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/Ares_Logo-3.png" height="50px"> </a>
            </div><div class="col">
                <a class="thin" href="https://www.nauticalarchaeologysociety.org/" target="_blank"><img src="/img/icons/nas.png" height="70px" alt="" /></a>
            </div><div class="col">
                <a class="thin" href="#" target="_blank"><img src="/img/basiliscoe.png" height="70px" alt="" /></a>
            </div><div class="col-md">
                <a class="thin" href="#" target="_blank"><img src="/img/cismas.png" height="50px" alt="" /></a>
            </div>
            <div class="col-sm">
                <a class="thin" href="#" target="_blank"><img src="/img/MSDS-768.png" height="50px" alt=""></a>
            </div>
</div>

{% endblock %}

{%block script%}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
      $('.pictures').slick({
      autoplay: true,
      arrows: true,
      centerPadding: '100px',
      autoplaySpeed: 3000,
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      centerMode: false,
      variableWidth: false
      });
    });
</script>
{% endblock %}