{% extends "header.html" %}

{% block main_content %}

    

<div class="jumbotron jumbotron-fluid text-center bg-ur" >
    <div class="container">
        <h1 class="display-4">Big Gun Site</h1>
        <p class="lead">The fun way to map the guns of the world</p>
        <hr class="my-4">
        <p>Help us record historic guns and learn about their place in our maritime history</p>
        <div class="d-flex justify-content-center pt-3">
            <div class="">
                <a href="/about" class="btn btn-primary align-middle">Learn more</a>
            </div>
        </div>
    </div>
    
        
        <div class="row pt-3">
        
            <div class="col">
                <a href="http://armamentresearch.com/" target="_blank"><img class="rounded mx-auto d-block" src="/img/Ares_Logo-3.png" height="50px"> </a>
            </div><div class="col">
                <a class="thin" href="https://www.nauticalarchaeologysociety.org/" target="_blank"><img src="/img/icons/nas.png" height="70px" alt="" /></a>
            </div><div class="col">
                <a class="thin" href="#" target="_blank"><img src="/img/basiliscoe.png" height="70px" alt="" /></a>
            </div><div class="col-md">
                <a class="thin" href="#" target="_blank"><img src="/img/cismas.png" height="50px" alt="" /></a>
            </div>
            <div class="col-sm">
                <a class="thin" href="#" target="_blank"><img src="/img/MSDS-768.png" height="50px" alt=""></a>
            </div>
        </div>

</div>
<div id="picture-carousel" class="container pictures d-none d-md-flex">
    
</div>
<div class="row">
    <div class="col-md-6">
    <div class="card h-100" >
      <img class="card-img-top" src="/img/gun-map-768.jpg" alt="Card image cap">
      <div class="card-body">
        <h3>Gun Database</h3>
          <p>The database allows individual recorders to upload their gun records, to improve them over time and to view all the other guns that have been recorded around the world. The project database is linked to a world map so that gun records can be viewed in geographical context.</p>
      </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100" >
            <img class="card-img-top" src="/img/cannon_measuring.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Recording</h3>
                <p>Our recording system allows you to record as little or as much as you like. Just add a photograph and a location to qualify as an Observer, identify features on your gun for a Recorder record or measure your gun's dimensions to achieve Gold and be a Surveyor. Our world map of guns allows you to see where guns are and how much information about each one has been documented. Find out more about recording guns.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{%block script%}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    function populate_posts(){
        let posts = JSON.parse(sessionStorage.getItem('posts'));
        let container = $('#picture-carousel')
        for (let post in posts.posts) {
            if (posts.posts.hasOwnProperty(post)) {
                    detail = posts.posts[post];
                    container.append(
                    `<div class="card" onClick="location.href='${detail.URL}'">
                        <div class="h5 card-header">
                            ${detail.title}<\/div>
                        <div class="row no-gutters">
                            <div class="col-4">
                                <img class="card-img post_image" src="${detail.post_thumbnail.URL}" alt="picture">
                            <\/div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-text">
                                        ${detail.excerpt}
                                    <\/div>
                                <\/div>
                            <\/div>
                        <\/div>
                    <\/div>`)
                    };
                };
            $('.pictures').slick({
                autoplay: true,
                arrows: true,
                centerPadding: '100px',
                autoplaySpeed: 3000,
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: false,
                variableWidth: false
                });
            };
 
    $(document).ready(function(){
      if (!sessionStorage.getItem('posts')){
        $.get('https://public-api.wordpress.com/rest/v1.2/sites/ultimaproject.org/posts', {number:5}, function(data){
            if (data.found > 0) {
                sessionStorage.setItem('posts', JSON.stringify(data))
                populate_posts()
                }
            })     
      }
      else {
            populate_posts()
      }
    });
</script>
{% endblock %}