<div class="row">
                    <div class="col-md-6">
                        <table  class="table table-striped">
                            <thead class="thead-dark">
                            <th colspan='4' scope="row">Basic Information</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td >Type of Gun</td>
                                <td colspan="3"> <select class="custom-select" name="category">
                                    {% for name,member in gun.Categories.__members__.items() %}
                                      <option value="{{name}}" {% if gun.category.value == member.value %} selected {% endif %} >{{gun_categories[member.value]}}</option>
                                    {% endfor %}
                                     </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Material</td>
                                <td colspan="3"> <select class="custom-select" name="type">
                                    {% for name,member in gun.Types.__members__.items() %}
                                      <option value="{{name}}" {% if gun.type.value == member.value %} selected {% endif %} >{{gun_types[member.value]}}</option>
                                    {% endfor %}
                                     </select>
                                </td>
                            </tr>
                            <tr>
                                <td >Short Desc</td>
                                <td colspan="3"><textarea class="form-control" rows="2" name="description" placeholder="Description" >{% if gun.description%}{{ gun.description }}{%endif%}</textarea> </td>
                            </tr>
{% if user %}
                            <tr>
                                <td >Author</td>
                                <td><input class="form-control" type="text" name="name" value="{{ user_name }}" placeholder="Name" readonly style="max-width:10em;"></td>
                                <td>Date <span class="d-none d-md-inline">Recorded</span></td>
                                <td class="">{{gun.date.strftime('%x')}}</td>
                            </tr>
{% endif %}
                            </tbody>
                        </table>
{% if user %}
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="markings" class="custom-control-input update-field"  id="markings" {% if gun.markings %} checked {% endif %} onchange="select_button('markings')" >
                                        <label class="custom-control-label" for="markings">Markings?</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="interpretation" class="custom-control-input update-field" id="inter" {% if gun.interpretation %} checked {% endif %} onchange="select_button('inter')" >
                                            <label class="custom-control-label" for="inter">Information board?</label>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            </tr>
                                <tr class="hidden markings" >
                                    <td>
                                        Describe the Markings
                                    </td>
                                    <td>
                                        <textarea class="form-control" name="mark_details" rows='2' placeholder="Details">{%if gun.mark_details %}{{gun.mark_details}}{% endif %}</textarea>
                                    </td>
                                </tr>
                                <tr class="hidden inter" >
                                    <td>
                                        What does the board say?
                                    </td>
                                    <td>
                                        <textarea class="form-control" rows='2' name="inter_details"  placeholder="Details">{%if gun.inter_details%}{{gun.inter_details}}{%endif%}</textarea>
                                    </td>
                                </tr>
                        </table>
{% endif %}
                    </div><!-- end grid -->

                    <div class="col-md-6">
                        <table  class="table table-striped">
                            <thead class="thead-dark">
                            <th colspan='2' scope="row">Context</th>
                            </thead>
                            <tr>
                                <td>Name</td>
                                <td><textarea class="form-control" rows='1' name="display_name" id="display_name" placeholder="Give a name to the site">{%if gun.display_name%}{{gun.display_name}}{%endif%}</textarea></td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>
                                <select class="custom-select" name="site" onchange="$('#display_name').val($(this).children('option:selected').val())">
                                    {% for site in gun.geocode.places %}
                                      <option value="{{site.name}}" {% if gun.site == site.name %} selected {% endif %} >{{site.name}}</option>
                                    {% endfor %}
                                    {% for site in gun.geocode.geolocation %}
                                      <option value="{{site.formatted_address}}" {% if gun.site == site.formatted_address %} selected {% endif %} >{{site.formatted_address}}</option>
                                    {% endfor %}
                                     </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Description of Cannon Location</td>
                                <td><textarea class="form-control" rows='2' name="context" placeholder="Describe context">{%if gun.context%}{{gun.context}}{%endif%}</textarea></td>
                            </tr>
{% if user %}
                            <tr>
                                <td colspan='2'>
                                    <div class="custom-control custom-switch">
                                            <input type="checkbox" name="collection" class="custom-control-input update-field" id="collection" {% if gun.collection %} checked {% endif %} onchange="select_button('collection')" >
                                            <label class="custom-control-label" small for="collection">Is this gun part of a  museum, gallery or collection or on the grounds of a heritage site like a castle or recognised archeological site?</label>
                                        </div>
                                </td>
                            </tr>
{% endif %}
                        </table>
{%if user %}
                        <table class="table table-striped">
                            <tbody>
                            <tr class="hidden collection">
                                <td>Name of Museum / Gallery / Heritage Site / Collection</td>
                                <td><textarea class="form-control" rows='1' name="coll_name" placeholder="Collection name">{%if gun.coll_name %}{{gun.coll_name}}{%endif%}</textarea></td>

                            </tr>
                            <tr class="hidden collection">
                                <td>Collection Ref</td>
                                <td><input class="form-control" type="text" name="coll_ref" value="{%if gun.coll_ref%}{{gun.coll_ref}}{%endif%}" placeholder="Collection reference"></td>
                            </tr>
                        </tbody></table>
{% endif %}
                    </div>
            </div>
    <div class="row bg-light pt-3">
            <div class="col-md-6">
                <h3 class="bold">Location</h3>
                <div id="map_canvas" class="map-container-inline" > </div>
                <script>
                    window.initMap = function () {
                        map_icons = {
                                'BRONZE': "/img/cannon_bronze.png",
                                'GOLD': "/img/cannon_gold.png",
                                'SILVER': "/img/cannon_silver.png"
                            };

                        marker_quality = "{{gun.quality.name}}";
                        let location;
                        if ( {{user is not none | lower}}) {
                            location = {
                                lat: parseFloat($('#lat').val()),
                                lng: parseFloat($('#lon').val())
                                };
                        } else {
                            location = {
                            lat: {{ gun.location.latitude }},
                            lng: {{ gun.location.longitude }}
                            };
                        };
                        map = new google.maps.Map(document.getElementById('map_canvas'), {
                            zoom: 12,
                            center: location,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            zoomControl: true,
                            mapTypeControl: false,
                            scaleControl: true,
                            streetViewControl: false,
                            rotateControl: true,
                            fullscreenControl: true
                        });
                        marker = null;
                        reset_map(location)
                    };
                </script>
{% if user %}
                <div class="row">
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="latlon" checked onchange="radio_button('geolocation','latlon')" >
                            <label class="custom-control-label" for="latlon">Lat/Lon</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="bng"  onchange="LL_convert('#detail')" >
                            <label class="custom-control-label" for="bng">Grid Ref</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" name="geolocation" class="custom-control-input" id="locate"  onchange="radio_button('geolocation',  'locate')" >
                            <label class="custom-control-label" for="locate">Device Location</label>
                        </div>
                    </div>
                </div>



                <div class="row latlon">
                    <div class="col-md-2">
                        Lat
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lat" name="lat" value="{{ gun.location.latitude }}" >
                    </div> <div class="col-md-2">
                        Long
                    </div> <div class="col-md-3">
                        <input class="form-control" type="text" id="lon" name="lon" value="{{ gun.location.longitude }}" >
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="button" onclick="reset_map(null)">Centre</button>
                    </div>
                </div>
                <div class="row latlon">
                    <small class="text-muted mx-auto">All Lat/lon coordinates must be in WGS84</small>
                </div>
                <div class="row bng">
                    <div class="col-md-2">
                        East
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="eastings" id="eastings" value="" >
                    </div>
                    <div class="col-md-2">
                        North
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="northings" id="northings" value="">
                   </div>
                    <div class="col-md-2">
                        <button class="btn btn-small btn-primary" type="button" onclick="BNG_convert('bronze')">GoTo</button>
                    </div>
                </div>
                <div class="row bng">
                    <small class="text-muted mx-auto">Conversion provided by British Geological Survey <a href="https://www.bgs.ac.uk/data/webservices/convertForm.cfm#bngToLatLng">link</a></small>
                </div>
                <div class="row locate">
                    <button class="btn btn-primary mx-auto d-block" type="button" onclick="getLocation()">Current Location</button>
                </div>
{% endif %}
            </div>
            <div class="col-md-6">
{% if user %}
            <div class="row"><div class="col-3">
                <h3 class="bold">Photos</h3></div>
                <div class="col-9">
                <div class="progress hidden" >
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div></div><div class="row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-primary" id="file-upload" >Upload</span>
                    </div>

                <div class="custom-file">
                    <input type="file" id="file-name" multiple accept="image/jpeg, image/png, image/bmp, image/eps, image/gif, image/tiff, JPEG, PNG, GOF,EPS,TIFF" class="custom-file-input update-ignore" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label text-truncate" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            </div>
{% endif %} 
            <div class="imglist" id="imgs">
            {% for image in images %}
                <a href="{{image.original|safe}}" data-fancybox="image-gallery" data-caption="cannon photo">
                    <img src="{{image.s200|safe}}" alt="" />
                </a>
            {% endfor %}
            </div>
        </div>
</div>
