<div class="position-relative">
            <div class="embed-responsive embed-responsive-16by9">
                <object class="embed-responsive-item" id="cannon" data='/img/cannon_chart.svg' type="image/svg+xml"></object>
           </div>
            
            <div class="overlap" >
            <table  class="table table-sm table-dark table-striped mb-5">
                <thead class="thead-dark">
                    <th scope="row">Measurements</th>
                    <th scope="row"><div class="row">
                        <div class="col-6 text-right">meters </div><div class="col-6 custom-control custom-switch">
                        <input type="checkbox" name="units" class="custom-control-input update-field update-ignore" id="units" checked >
                        <label class="custom-control-label" for="units">mm</label>
                    </div></div></th>
                </thead>
                <tbody class="small">
                <tr>
                    <td >Length</td>
                    <td><input class="form-control-sm measurement" type="text" name="length" id="length" value="" placeholder="Length"></td>
                    </tr>
                    <tr>
                    <td>Base Ring Diameter</td>
                    <td><input class="form-control-sm measurement" type="text" name="base_ring" id="base_ring" value="" placeholder="Base Ring"></td>
                    </tr>
                    <tr>
                    <td>Muzzle Diameter</td>
                    <td><input class="form-control-sm measurement" type="text" name="muzzle" id="muzzle" value="" placeholder="Muzzle"></td>
                    </tr>
                    <tr>
                    <td>Bore Diameter</td>
                    <td><input class="form-control-sm measurement" type="text" name="bore" id="bore" value="" placeholder="Bore"></td>
                    </tr>
                    <tr>
                    <td>Trunnion Position</td>
                    <td><input class="form-control-sm measurement" type="text" name="trunnion_position" id="trunnion_position" value="" placeholder="Trunnion to BR"></td>
                    </tr>
                    <tr>
                    <td>Trunnion Width</td>
                    <td><input class="form-control-sm measurement" type="text" name="trunnion_width" id="trunnion_width" value="" placeholder="Trunnion Width"></td>
                    </tr>
                    <tr>
                    <td>Trunnion Diameter</td>
                    <td><input class="form-control-sm measurement" type="text" name="trunnion_diameter" id="trunnion_diameter" value="" placeholder="Trunnion Dia"></td>
                    </tr>
                    <tr>
                    <td>Trunnion Offset</td>
                    <td><input class="form-control-sm measurement" type="text" name="trunnion_offset" id="trunnion_offset" value="" placeholder="Trunnion Offset"></td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
             