<div class="container">
    <div class="row h3"> MOULDING CODES </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center " for="A">
            <span class="imagecheck_text"><h1>A</h1><small>Astragal</small></span>
            <img class="img-fluid"  width="400px" src="/img/A.png">
            <input type="checkbox" name="moulding[]" id="A" value="A" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center " for="B">
            <span class="imagecheck_text"><h1>B</h1><small>Band</small></span>
            <img class="img-fluid"  width="400px" src="/img/B.png">
            <input type="checkbox" name="moulding[]" id="B" value="B" />
            <i class="fa fa-check hidden"></i>
        </label>
        
         <label class="image-checkbox icheck col-4 nopad text-center " for="S">
            <span class="imagecheck_text"><h1>S</h1><small>Slope</small></span>
            <img class="img-fluid"  width="400px" src="/img/S.png">
            <input type="checkbox" name="moulding[]" id="S" value="S" />
            <i class="fa fa-check hidden"></i>
        </label>
        
    </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>F</h1><small>Fillet</small></span>
            <img class="img-fluid"  width="400px" src="/img/Fil.png">
            <input type="checkbox" name="moulding[]" value="F" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>O</h1><small>Ogee</small></span>
            <img class="img-fluid"  width="400px" src="/img/O.png">
            <input type="checkbox" name="moulding[]" value="O" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>Q</h1><small>Quadrant</small></span>
            <img class="img-fluid"  width="400px" src="/img/Q.png">
            <input type="checkbox" name="moulding[]" value="Q" />
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>C</h1><small>Concave</small></span>
            <img class="img-fluid"  width="400px" src="/img/C.png">
            <input type="checkbox" name="moulding[]" value="C" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck ol-4 nopad text-center ">
            Illegible or Missing
            <input type="checkbox" name="moulding[]" value="X" />
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row h3"> MUZZLE CODES </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>R</h1><small>Tulip</small></span>
            <img class="img-fluid"  width="400px" src="/img/R.png">
            <input type="radio" name="muzzle_code" id="R" value="R" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>F</h1><small>Flared Cone</small></span>
            <img class="img-fluid"  width="400px" src="/img/F.png">
            <input type="radio" name="muzzle_code" id="F" value="F" />
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>T</h1><small>Tapered Cone</small></span>
            <img class="img-fluid"  width="400px" src="/img/T.png">
            <input type="radio" name="muzzle_code" id="T" value="T" />
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>P</h1><small>Cylinder</small></span>
            <img class="img-fluid"  width="400px" src="/img/P.png">
            <input type="radio" name="muzzle_code" id="P" value="P" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>E</h1><small>Coronice</small></span>
            <img class="img-fluid"  width="400px" src="/img/E.png">
            <input type="radio" name="muzzle_code" id="E" value="E" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            Illegible or Missing
            <input type="radio" name="muzzle_code" id="mX" value="X" />
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row h3"> CASCABLE CODES </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>K</h1><small>Conical</small></span>
            <img class="img-fluid"  width="400px" src="/img/K.png">
            <input type="radio" name="cas_code" id="K" value="K" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>O</h1><small>Spherical</small></span>
            <img class="img-fluid"  width="400px" src="/img/Sph.png">
            <input type="radio" name="cas_code" id="O" value="O" />
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>U</h1><small>Concave</small></span>
            <img class="img-fluid"  width="400px" src="/img/U.png">
            <input type="radio" name="cas_code" id="U" value="U" />
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>D</h1><small>Flat</small></span>
            <img class="img-fluid"  width="400px" src="/img/Flat.png">
            <input type="radio" name="cas_code" id="D" value="D" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            Illegible or Missing
            <input type="radio" name="cas_code" id="cX" value="X" />
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row h3"> BUTTON CODES </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>N</h1><small>Knob</small></span>
            <img class="img-fluid"  width="400px" src="/img/N.png">
            <input type="radio" name="button_code" id="N" value="N" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>L</h1><small>Knob with Loop</small></span>
            <img class="img-fluid"  width="400px" src="/img/L.png">
            <input type="radio" name="button_code" id="L" value="L" />
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>G</h1><small>Spherical</small></span>
            <img class="img-fluid"  width="400px" src="/img/G.png">
            <input type="radio" name="button_code" id="G" value="G" />
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>C</h1><small>Cylinder</small></span>
            <img class="img-fluid"  width="400px" src="/img/Cyl.png">
            <input type="radio" name="button_code" id="C" value="C" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>H</h1><small>Horizontal Ring</small></span>
            <img class="img-fluid"  width="400px" src="/img/H.png">
            <input type="radio" name="button_code" id="H" value="H" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>V</h1><small>Vertical Ring</small></span>
            <img class="img-fluid"  width="400px" src="/img/V.png">
            <input type="radio" name="button_code" id="V" value="V" />
            <i class="fa fa-check hidden"></i>
        </label>
    </div><div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>E</h1><small>Exended Knob</small></span>
            <img class="img-fluid"  width="400px" src="/img/Ext.png">
            <input type="radio" name="button_code" id="E" value="E" />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            Illegible or Missing
            <input type="radio" name="button_code" id="bX" value="X" />
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div>
</div>