<div class="container">
    <div class="row h3 bg-primary text-white p-1" onclick="feature_toggle('#mouldings')" > MOULDING CODE - <input class="bg-site" type="text" name="moulding" id="moulding" style="width:25%;" onclick="event.stopPropagation()" value="{% for code in gun.moulding_code %}{{code}}{% endfor %}"/></div>
    <div class="collapse" id="mouldings" style="max-width:700px;">
    <div class="row">
        <div class="card">
            <img src="/img/mouldings.png" class="card-img-top mx-auto" alt="..." style="max-width: 600px">
            <div class="card-body">
                <p class="card-text text-center bold">
                    Add the Moulding codes for each ring in order - from the Base Ring to the Muzzle - using the RIng Divider "/" between each ring. To delete or change, edit the text above directly.
                </p>
            </div>
        </div>
   </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center " for="A">
            <span class="imagecheck_text"><h1>A</h1><small>Astragal</small></span>
            <img class="img-fluid"  width="400px" src="/img/A.png">
            <input type="checkbox" name="moulding[]" id="A" value="A" {% if 'A' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center " for="B">
            <span class="imagecheck_text"><h1>B</h1><small>Band</small></span>
            <img class="img-fluid"  width="400px" src="/img/B.png">
            <input type="checkbox" name="moulding[]" id="B" value="B" {% if 'B' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        
         <label class="image-checkbox icheck col-4 nopad text-center " for="S">
            <span class="imagecheck_text"><h1>S</h1><small>Slope</small></span>
            <img class="img-fluid"  width="400px" src="/img/S.png">
            <input type="checkbox" name="moulding[]" id="S" value="S" {% if 'S' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        
    </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>F</h1><small>Fillet</small></span>
            <img class="img-fluid"  width="400px" src="/img/Fil.png">
            <input type="checkbox" name="moulding[]" value="F" {% if 'F' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>O</h1><small>Ogee</small></span>
            <img class="img-fluid"  width="400px" src="/img/O.png">
            <input type="checkbox" name="moulding[]" value="O" {% if 'O' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>Q</h1><small>Quadrant</small></span>
            <img class="img-fluid"  width="400px" src="/img/Q.png">
            <input type="checkbox" name="moulding[]" value="Q" {% if 'Q' in gun.moulding_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox icheck col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>C</h1><small>Concave</small></span>
            <img class="img-fluid"  width="400px" src="/img/C.png">
            <input type="checkbox" name="moulding[]" value="C" {% if 'C' in gun.moulding_code %} checked {% endif %} />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center mx-auto">
            <span class="imagecheck_text"><h1>/</h1><small>Ring Divider</small></span>
            <input type="checkbox" name="moulding[]" value="/" {% if '/' in gun.moulding_code %} checked {% endif %} />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox icheck col-4 nopad text-center mx-auto" >
            <span class="imagecheck_text"><h1>X</h1><small>Illegible or Missing</small></span>
            <input type="checkbox" name="moulding[]" value="X" {% if 'X' in gun.moulding_code %} checked {% endif %} />
            <i class="fa fa-check hidden"></i>
        </label>
        </div>
    </div>
</div>
<div class="container">
    <div class="row h3 bg-primary text-white p-1" onclick="feature_toggle('#muzzle')"> MUZZLE CODE - <span id="muzzle_code">{{gun.muzzle_code}}</span></div>
    <div class="collapse" id="muzzle" style="max-width:700px;">
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>R</h1><small>Tulip</small></span>
            <img class="img-fluid"  width="400px" src="/img/R.png">
            <input type="radio" name="muzzle_code" id="R" value="R" {% if 'R' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>F</h1><small>Flared Cone</small></span>
            <img class="img-fluid"  width="400px" src="/img/F.png">
            <input type="radio" name="muzzle_code" id="F" value="F" {% if 'F' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>T</h1><small>Tapered Cone</small></span>
            <img class="img-fluid"  width="400px" src="/img/T.png">
            <input type="radio" name="muzzle_code" id="T" value="T" {% if 'T' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>P</h1><small>Cylinder</small></span>
            <img class="img-fluid"  width="400px" src="/img/P.png">
            <input type="radio" name="muzzle_code" id="P" value="P" {% if 'P' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>E</h1><small>Coronice</small></span>
            <img class="img-fluid"  width="400px" src="/img/E.png">
            <input type="radio" name="muzzle_code" id="E" value="E" {% if 'E' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center mx-auto">
            <span class="imagecheck_text"><h1>X</h1><small>Illegible or Missing</small></span>
            <input type="radio" name="muzzle_code" id="mX" value="X" {% if 'X' == gun.muzzle_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div></div>
</div>
<div class="container">
    <div class="row h3 bg-primary text-white p-1" onclick="feature_toggle('#cascable')"> CASCABLE CODE - <span id="cas_code">{{gun.cas_code}}</span></div>
    <div class="collapse" id="cascable" style="max-width:700px;">
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>K</h1><small>Conical</small></span>
            <img class="img-fluid"  width="400px" src="/img/K.png">
            <input type="radio" name="cas_code" id="K" value="K" {% if 'K' == gun.cas_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>O</h1><small>Spherical</small></span>
            <img class="img-fluid"  width="400px" src="/img/Sph.png">
            <input type="radio" name="cas_code" id="O" value="O" {% if 'O' == gun.cas_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>U</h1><small>Concave</small></span>
            <img class="img-fluid"  width="400px" src="/img/U.png">
            <input type="radio" name="cas_code" id="U" value="U" {% if 'U' == gun.cas_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>D</h1><small>Flat</small></span>
            <img class="img-fluid"  width="400px" src="/img/Flat.png">
            <input type="radio" name="cas_code" id="D" value="D" {% if 'D' == gun.cas_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center mx-auto">
            <span class="imagecheck_text"><h1>X</h1><small>Illegible or Missing</small></span>
            <input type="radio" name="cas_code" id="cX" value="X" {% if 'X' == gun.cas_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div></div>
</div>
<div class="container">
    <div class="row h3 bg-primary text-white p-1" onclick="feature_toggle('#button')"> BUTTON CODE - <span id="button_code">{{gun.button_code}}</span></div>
    <div class="collapse show" id="button" style="max-width:700px;">
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>N</h1><small>Knob</small></span>
            <img class="img-fluid"  width="400px" src="/img/N.png">
            <input type="radio" name="button_code" id="N" value="N" {% if 'N' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>L</h1><small>Knob with Loop</small></span>
            <img class="img-fluid"  width="400px" src="/img/L.png">
            <input type="radio" name="button_code" id="L" value="L" {% if 'L' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
         <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>G</h1><small>Spherical</small></span>
            <img class="img-fluid"  width="400px" src="/img/G.png">
            <input type="radio" name="button_code" id="G" value="G" {% if 'G' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
    </div>
    <div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>C</h1><small>Cylinder</small></span>
            <img class="img-fluid"  width="400px" src="/img/Cyl.png">
            <input type="radio" name="button_code" id="C" value="C" {% if 'C' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>H</h1><small>Horizontal Ring</small></span>
            <img class="img-fluid"  width="400px" src="/img/H.png">
            <input type="radio" name="button_code" id="H" value="H" {% if 'H' == gun.button_code %} checked {% endif %} />
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>V</h1><small>Vertical Ring</small></span>
            <img class="img-fluid"  width="400px" src="/img/V.png">
            <input type="radio" name="button_code" id="V" value="V" {% if 'V' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
    </div><div class="row">
        <label class="image-checkbox iradio col-4 nopad text-center ">
            <span class="imagecheck_text"><h1>E</h1><small>Exended Knob</small></span>
            <img class="img-fluid"  width="400px" src="/img/Ext.png">
            <input type="radio" name="button_code" id="E" value="E" {% if 'E' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <label class="image-checkbox iradio col-4 nopad text-center mx-auto">
            <span class="imagecheck_text"><h1>X</h1><small>Illegible or Missing</small></span>
            <input type="radio" name="button_code" id="bX" value="X" {% if 'X' == gun.button_code %} checked {% endif %}/>
            <i class="fa fa-check hidden"></i>
        </label>
        <div class=" col-4 nopad text-center ">
            
        </div>
    </div></div>
</div>